In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
data = {'categories': ['A', 'B', 'C', 'A','B','C','B'],
        'values': [10, 20, 30, 40, 60, 43, 67]}
df = pd.DataFrame(data)
df

  categories  values
0          A      10
1          B      20
2          C      30
3          A      40
4          B      60
5          C      43
6          B      67

In [30]:
#df[df.categories=='A' and df.values==10] 
newdf=df.groupby('categories')['values'].sum()
newdf

categories
A     50
B    147
C     73
Name: values, dtype: int64

In [32]:
pivot_table = df.pivot_table(index='categories', values='values', aggfunc='sum')
print(pivot_table)

            values
categories
A               50
B              147
C               73

In [33]:
cross_tab = pd.crosstab(df['categories'], df['values'])
print(cross_tab)

values      10  20  30  40  43  60  67
categories
A            1   0   0   1   0   0   0
B            0   1   0   0   0   1   1
C            0   0   1   0   1   0   0