# 08 July Py for DS session 1

In [3]:

#single line comments
print("National Stock Exchange")
#print("ignore value")
print('new york # stock excahnge')
# Multiple line comments , new line seprates statements , it executes one at a time , use ; to seprate within same line

National Stock Exchange
new york # stock excahnge

In [10]:
exchange = 'abc' print("excahnge")
                    
# sends the exception object of  class syntax error with string  msg  and interpreter stops further processing once it gets the error

SyntaxError: invalid syntax (1457414143.py, line 1)

In [13]:
exchange = 'abc' ;print(exchange)

abc

In [15]:
ms1 = 'line 1 of string
line2 
line3'
#string should terminate in same line else you would get error

SyntaxError: unterminated string literal (detected at line 1) (2406132225.py, line 1)

In [20]:
#Paragraph strings
paragraph = """cow is animal 
it gives milk """
print(paragraph)
print(type(paragraph))
#Paragraph is a variable looking at an object of class string str.

cow is animal
it gives milk
<class 'str'>

In [26]:
# if you do not attach paragraph to  a variable  it become  a block comment 
exchange = "NSE"

"""
print adfd
obc

"""
#print(exchange)
# it will only print what jupter has  not  python

'\nprint adfd\nobc\n\n'

In [27]:
n1 = 30
n1
#jupyter IDE is intellegent enough so its not python which is giving the result

30

In [31]:
n = 'b' 
print(n)
##commit

b

In [33]:
#Python var Type
ABC=10
abc=20
print(abc)
print(ABC)

20
10

In [35]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [38]:
import keyword
print(type(keyword))
# keyword is object of class Module type Module

<class 'module'>

In [45]:
#indentation of code block 
#within same block indentation should be same 
# across the block its fine 
a = 10
while a > 0:
    print(a)
    a = a -1

10
9
8
7
6
5
4
3
2
1

In [48]:
sensor = 1
if sensor ==0:
    print('level is low')
    print('swith on motor')
else:
    print('level is high')
    print('swich off motor')

level is high
swich off motor

# assignments

In [55]:
myint1 = 20
myint = int(20)
myint2 = 20 
print(type(myint1))
print(type(myint2))
print(type(myint))
print(id(myint1))
print(id(myint2))
#type returns the class name
# ID returns virtual address of the object

<class 'int'>
<class 'int'>
<class 'int'>
140610597258064
140610597258064

In [65]:
var1 = (20,30,'python')
print(var1)
print(type(var1))
print(id(var1))
print(var1[0])

(20, 30, 'python')
<class 'tuple'>
140610770491968
20

In [66]:
var1 = {'bank':'sbi','branch':'ecity'}
print(var1)
print(type(var1))
print(id(var1))
print(var1['bank'],var1['branch'])

{'bank': 'sbi', 'branch': 'ecity'}
<class 'dict'>
140610766762560
sbi ecity

In [69]:
myint = (10,20,30)
print(type(myint))
myint[0]= 22
print(myint)
# tuple are not changable

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [71]:
a = b = c = 2345
print(id(a))
print(id(b))
print(id(c))
# same memory locations
a = 2345
b = 2345
c = 2345 
print(id(a))
print(id(b))
print(id(c))
#diff memory location

140610770838224
140610770838224
140610770838224
140610770835920
140610770834064
140610770836464

In [74]:
# positional mapping
a , b , c = 12000 ,'hello' , 12000
print(id(a))
print(id(b))
print(id(c))
print(a)
print(b)
print(c)

140610770838224
140610730793840
140610770838224
12000
hello
12000