# 08 July Py for DS session 1

In [3]:

#single line comments
print("National Stock Exchange")
#print("ignore value")
print('new york # stock excahnge')
# Multiple line comments , new line seprates statements , it executes one at a time , use ; to seprate within same line

National Stock Exchange
new york # stock excahnge

In [10]:
exchange = 'abc' print("excahnge")
                    
# sends the exception object of  class syntax error with string  msg  and interpreter stops further processing once it gets the error

SyntaxError: invalid syntax (1457414143.py, line 1)

In [13]:
exchange = 'abc' ;print(exchange)

abc

In [15]:
ms1 = 'line 1 of string
line2 
line3'
#string should terminate in same line else you would get error

SyntaxError: unterminated string literal (detected at line 1) (2406132225.py, line 1)

In [20]:
#Paragraph strings
paragraph = """cow is animal 
it gives milk """
print(paragraph)
print(type(paragraph))
#Paragraph is a variable looking at an object of class string str.

cow is animal
it gives milk
<class 'str'>

In [26]:
# if you do not attach paragraph to  a variable  it become  a block comment 
exchange = "NSE"

"""
print adfd
obc

"""
#print(exchange)
# it will only print what jupter has  not  python

'\nprint adfd\nobc\n\n'

In [27]:
n1 = 30
n1
#jupyter IDE is intellegent enough so its not python which is giving the result

30

In [31]:
n = 'b' 
print(n)
##commit

b

In [33]:
#Python var Type
ABC=10
abc=20
print(abc)
print(ABC)

20
10

In [35]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [38]:
import keyword
print(type(keyword))
# keyword is object of class Module type Module

<class 'module'>

In [45]:
#indentation of code block 
#within same block indentation should be same 
# across the block its fine 
a = 10
while a > 0:
    print(a)
    a = a -1

10
9
8
7
6
5
4
3
2
1

In [48]:
sensor = 1
if sensor ==0:
    print('level is low')
    print('swith on motor')
else:
    print('level is high')
    print('swich off motor')

level is high
swich off motor

# assignments

In [55]:
myint1 = 20
myint = int(20)
myint2 = 20 
print(type(myint1))
print(type(myint2))
print(type(myint))
print(id(myint1))
print(id(myint2))
#type returns the class name
# ID returns virtual address of the object

<class 'int'>
<class 'int'>
<class 'int'>
140610597258064
140610597258064

In [65]:
var1 = (20,30,'python')
print(var1)
print(type(var1))
print(id(var1))
print(var1[0])

(20, 30, 'python')
<class 'tuple'>
140610770491968
20

In [66]:
var1 = {'bank':'sbi','branch':'ecity'}
print(var1)
print(type(var1))
print(id(var1))
print(var1['bank'],var1['branch'])

{'bank': 'sbi', 'branch': 'ecity'}
<class 'dict'>
140610766762560
sbi ecity

In [69]:
myint = (10,20,30)
print(type(myint))
myint[0]= 22
print(myint)
# tuple are not changable

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [71]:
a = b = c = 2345
print(id(a))
print(id(b))
print(id(c))
# same memory locations
a = 2345
b = 2345
c = 2345 
print(id(a))
print(id(b))
print(id(c))
#diff memory location

140610770838224
140610770838224
140610770838224
140610770835920
140610770834064
140610770836464

In [75]:
# positional mapping
a , b , c = 12000 ,'hello' , 12000
print(id(a))
print(id(b))
print(id(c))
print(a)
print(b)
print(c)

140610770836176
140610730793840
140610770836176
12000
hello
12000

# take data from keyboard

In [79]:
name = input("what is your name")
print("my name is " + ''+ name)
print(type(name))
print(len(name))
# Lenth using len
#Keyboard input will always return  object Type of class STR

what is your namek
my name is k
<class 'str'>
1

In [81]:
marks = input('enter marks')
print(marks)
print(type(marks))
#marks1= int(marks)
newmarks = marks + 5 
print(newmarks)

enter marksok
ok
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [84]:
marks = input('enter marks')
print(marks)
print(type(marks))
marks1= int(marks)
newmarks = marks1 + 5 
print(newmarks)

enter marks54
54
<class 'str'>
59

In [86]:
weight = float(input('provide your weight'))
print(weight,type(weight))

provide your weightok

ValueError: could not convert string to float: 'ok'

# Operators

In [98]:
#arthmetic, assignment, relationsl, logical
x = 25
y = 5
p = y ** x
print(str(p))
print(len(str(p)))
print(26 % 5 )

298023223876953125
18
1

In [107]:
a = ""
bool(a)

False

# Functions in python

In [121]:
def ExamResult():
    marks=int(input('enter your marks'))
    if marks > 40:
        print("pass ho gya bccchu tu to ")
    else:
        print("oh sorry ! you failed, padhai kara karo ")

ExamResult()

enter your marks44
pass ho gya bccchu tu to

In [123]:
# if progreaammer did not specify the return statement , None is by default returned 
x = print(hello)
print(x)

NameError: name 'hello' is not defined

In [132]:
def mf1():
  p0 = int(input("provide p0"))
  p1 = int(input("provide p0"))
  b = p0 + p1
  return b
  print(b)
    
r = mf1()
print(r)
print(type(mf1))
#Commands after return are ignored by Python by Nature

provide p0ok

ValueError: invalid literal for int() with base 10: 'ok'

# decision / Branching

In [ ]:
else if , if alif

# build in data structures

In [140]:
def tempCheck():
    temp = int(input("provide what is temp feels like"))
    if temp > 90:
        print("it is hot")
    elif temp < 60:
        print("it is cold")
    else:
        print("its is just right")
        
tempCheck()

provide what is temp feels like20
it is cold

# string Data type

In [141]:
#Strings are non mutable in memory
#len for lenth of string
#  Mutablity you cant change charactor

In [144]:
ms1='python data'
print(type(ms1))
print(len(ms1))
print(ms1)
print(ms1[4])

<class 'str'>
11
python data
o

# accessing Values in Strings

In [151]:
abc= 'ABCDFEFGHJKL'
print(abc[-8:-2])
print(abc[:])
print(abc[::2])
print(abc[-1::-1])

FEFGHJ
ABCDFEFGHJKL
ACFFHK
LKJHGFEFDCBA

# concatnation and membership

In [156]:
# + operator
# in cheks for inclusion
# not in checks for absense 
accounts=['1234','4344','3344']
cs = input("provide account number")
if cs in accounts:
    print("existing customers")
else:
    print("new customer form")

provide account number334
new customer form

In [161]:
# KNow attributes of class 
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [163]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [166]:
ms1 = "hello"
ms2 = ms1[:]
print(id(ms1))
print(id(ms2))

140610730793840
140610730793840

In [171]:
ms1 = "king ring singh"
ns1 = ms1.replace('ng','ds',2)
print(ns1)

kids rids singh

# replace/ find methodes

In [186]:
mystr1 = "nationalExchange"
index= mystr1.find('g')
print(mystr1.find('a',4,7))
print(mystr1.replace('g','o').find('g'))
print(mystr1.count(a))

6
-1
17

In [196]:
mystr1 = "national stock exchange Mumbai"
c = mystr1.count('a')
print(c)
print(mystr1.lower())
print(mystr1.swapcase())
print(mystr1.title())
print(mystr1.capitalize())
print('2023'.isdigit())

4
national stock exchange mumbai
NATIONAL STOCK EXCHANGE mUMBAI
National Stock Exchange Mumbai
National stock exchange mumbai
True

# Split & Join

In [200]:
ms1 = "world health org geneva"
ms1.split()

['world', 'health', 'org', 'geneva']

In [205]:
ms1 = "world health org geneva"
ms1.split(' ',1)

['world', 'health org geneva']

In [206]:
str1 = "Jitendra_Singh_Engineer_Resume_SA"
str1.split('_',2)

['Jitendra', 'Singh', 'Engineer_Resume_SA']

In [215]:
str = ['national', 'stock','exchange','mumbai','city']
ns1='_'.join(str)
ns1

'national_stock_exchange_mumbai_city'

# python way of printing

In [227]:
average = 98.31
sub = 'pysics'
nums = 50
#uncontrained placeholer will take any value ay date type can be given Nums can be at any place. positional Mapped 
print ('avergage marks in {} of {} student is {}'.format(sub,nums,average))
# Index Constrains 
print ('avergage marks in {0} of {2} student is {1}'.format(sub,nums,average))
# data type and parameter index constrains
print ('avergage marks in {0:s} of {1:d} student is {2:.2F}'.format(sub,nums,average))
#Data Type Constains 
print ('avergage marks in {:s} of {:d} student is {:.2f}'.format(sub,nums,average))

avergage marks in pysics of 50 student is 98.31
avergage marks in pysics of 98.31 student is 50
avergage marks in pysics of 50 student is 98.31
avergage marks in pysics of 50 student is 98.31