In [6]:
#else if condition loops
def gradecheck():
    marks=int(input('kindly provide your our marks:  '))
    result = (marks,'distinction',100-marks) if marks > 80 else (marks,'pass',100-marks)  if  marks > 40 and marks < 80 else (marks,'failed',40-marks) 
    print("Highchool result live now see below for your roll number ")
    return result
gradecheck()

kindly provide your our marks:  54
Highchool result live now see below for your roll number

(54, 'pass', 46)

In [ ]:
#def tempcheck():
#    tmp=int(input('kindly provide '))
import requests
from bs4 import BeautifulSoup
# enter city name
city = "lucknow"
 
# create url
url = "https://www.google.com/search?q="+"weather"+city
 
# requests instance
html = requests.get(url).content
 
# getting raw data
soup = BeautifulSoup(html, 'html.parser')
soup
temp = soup.find('div', attrs={'class': 'BNeawe iBp4i AP7Wnd'}).text
 
# this contains time and sky description
str = soup.find('div', attrs={'class': 'BNeawe tAd8D AP7Wnd'}).text
 
# format the data
data = str.split('\n')
time = data[0]
sky = data[1]
# list having all div tags having particular class name
listdiv = soup.findAll('div', attrs={'class': 'BNeawe s3v9rd AP7Wnd'})
 
# particular list with required data
strd = listdiv[5].text
 
# formatting the string
pos = strd.find('Wind')
other_data = strd[pos:]
# printing all the data
print("Temperature is", temp)
print("Time: ", time)
print("Sky Description: ", sky)
print(other_data)
temp

In [9]:
print('tmp')

tmp

In [15]:
def wcheck():
    wc=int(input('kindly provide temprature out side: '))
    return 'hot' if wc > 27 else 'cold' if wc < 14 else 'normal'
wcheck()

kindly provide temprature out side: 54

'hot'

In [23]:
r = range(20)
print(r)
list(range(20))

range(0, 20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
list2=list(range(0,1000,2))
list2
import sys
sys.getsizeof(list2)

4056

In [34]:
#for i in range(0,100,3):
   # print(i)

SyntaxError: incomplete input (1358622163.py, line 2)

In [36]:
a = 10 
while a < 20:
    print(a)
    a = a +1

10
11
12
13
14
15
16
17
18
19

In [38]:
dc = {'bank':'sbi','city':'bangalore'}
for k,v in dc.items():
    print(k,v)

bank sbi
city bangalore

In [40]:
for a in [10,20,30]:
    print(a)

10
20
30

In [42]:
count= 9 
while (count > 0):
    count = count -1
    if count ==6:
         continue
    print(count)
print('c2-done')

8
7
5
4
3
2
1
0
c2-done

In [47]:
count = 15
while (count >1):
    count = count -1 
    if count == 8:
     continue
    print(count)
print('out of loop')

14
13
12
11
10
9
7
6
5
4
3
2
1
out of loop

In [51]:
def isprime():
    n = int(input('kindly provide a number:   '))
    for i in range(2,n):
        if n%i ==0:
            return False
        else:
            return True
isprime()

kindly provide a number:   251

True

In [58]:


wccheck = lambda wc: 'hot' if wc > 27 else 'cold' if wc < 14 else 'normal'
wccheck(14)

'normal'

In [63]:
ieven = lambda wc : "even" if wc%2==0 else "odd"
ieven(54)

'even'

In [65]:
twonum = lambda num1,num2: num1+num2 
twonum(1,2)

3

In [71]:
#pass statement 

g1=100
g2=200
def mf99(v1):
    v2=222
    print(g1,g2,v1,v2)
mf99(54)
print(g1,g2)
#print(v2)

100 200 54 222
100 200

In [77]:

def factorial(n):
    if n==0:
        return 1
    return n*factorial(n-1)
factorial(4)

24

In [80]:
## list comprihansion
mylist1=[2,4,6,8,10]
mylist1
mylist2= []
for num in mylist1:
    mylist2.append(num*2)
mylist2

[4, 8, 12, 16, 20]

In [83]:
ulist=['u1','u2','u3']
plist=['p1','p2','p3']
uplist=[]
for u in ulist:
    for p in plist:
        uplist.append((u,p))
        
print(uplist)

[('u1', 'p1'), ('u1', 'p2'), ('u1', 'p3'), ('u2', 'p1'), ('u2', 'p2'), ('u2', 'p3'), ('u3', 'p1'), ('u3', 'p2'), ('u3', 'p3')]

In [88]:
mlist=[1,2,3,4,5,6,7]
plist = [ m**2 if m%2==0 else m**3 for m in mlist]
print(plist)

[1, 4, 27, 16, 125, 36, 343]

In [91]:
mlist=[1,2,3,4,5,6,7]
plist=[]
for num in mlist:
    if num%2!=0:
        plist.append(num**2)
print(plist)

[1, 9, 25, 49]

In [96]:
plist=[]
for num in (range(2,20,2)):
    if num%3==0:
        plist.append(num**2)
    else:
        plist.append(num**3)
print(plist)

[8, 64, 36, 512, 1000, 144, 2744, 4096, 324]

In [99]:
polist= [(num,num*2) for num in range(0,10,3)]
print(polist)

[(0, 0), (3, 6), (6, 12), (9, 18)]

In [102]:
ulist=['u1','u2','u3']
plist=['p1','p2','p3']
uplist=[(u,p) for u in ulist if u!='u2' for p in plist if p!='p2']
uplist

[('u1', 'p1'), ('u1', 'p3'), ('u3', 'p1'), ('u3', 'p3')]

In [105]:
n = {(n,n**2) for n in range(0,12,3)}
print(type(n))
print(n)

<class 'set'>
{(6, 36), (3, 9), (9, 81), (0, 0)}

In [ ]:
#numpy

In [132]:
num_list=[23,34]
num_list*3

[23, 34, 23, 34, 23, 34]

In [133]:
import numpy as np
mylist1=[11,22,33,44,55,66]
n1 = np.array(mylist1)
print(n1.itemsize)

8

In [139]:
for i in range(5):
    print(i)
else:
    print('ok')

0
1
2
3
4
ok

In [141]:
list2=[
    [11,22,33],
    [44,55,66]
    
]
list2
n1 = np.array(list2,dtype=int)
n1

array([[11, 22, 33],
       [44, 55, 66]])