In [ ]:
#else if condition loops

In [ ]:
def gradecheck():
    marks=int(input('please provide  marks you got:  '))
    result = ('your marks :', marks,'result','pass with grace') if marks>80  else ('your marks :', marks,'result','passsed' )  if marks>40  else ('your marks :', marks,'result','FAILED' )
    return result 
gradecheck()

In [3]:
def tempcheck():
    temp=int(input('Provide temprature you feel : '))
    result = 'Hot' if temp > 37 else 'cold' if temp < 12 else 'modrate'
    return result
tempcheck()

Provide temprature you feel : 65

'Hot'

In [4]:
#Range

In [14]:
ra = range(10,20,2)
print(type(ra))
ra
list1=list(ra)
list1

<class 'range'>

[10, 12, 14, 16, 18]

In [22]:
list1=list(range(10,100,2))
import sys
sys.getsizeof(list1)

424

In [23]:
#loops

In [28]:
n1=5
n2=20
while n1 < n2:
    print(n1,end=' ')
    n1=n1+5

5 10 15

In [33]:
#for loop
dc = {'bank':'sbi','city':'kanpur'}
dc.items()
for k,v in dc.items():
    print(k,v)

bank sbi
city kanpur

In [40]:
for a in [10,20,30]:
    print(a,end=': *')

10: *20: *30: *

In [43]:
for a in {10,20,30}:
    print(a,end=' ')

10 20 30

In [44]:
#loop Termination

In [51]:
count = 9
while (count > 0):
    count = count -1
    if count == 6:
        continue
    print(count,end=' ')
print('\n full done')

8 7 5 4 3 2 1 0
 full done

In [61]:
def isprime():
    n = int(input('please provide a number'))
    for div in range(2,n):
        if n%div==0:
            return False
    else:
        return True
isprime()

please provide a number17

True

In [62]:
#function rules : 
#required parameters must be specified before default parameters +

In [70]:
def mf12(r0,r1,d=100,d1=200,*args,**krgs):
    print('r0',r0,d,d1)
mf12(10,20)

r0 10 100 200

In [71]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(key, value)

# Using the function with keyword arguments
my_function(name="John", age=30, city="New York")

name John
age 30
city New York

In [76]:
def my12(**kwargs):
    for k,v in kwargs.items():
        print(k,v)
my12(city='Japan')

city Japan

In [77]:
#lambda anonymus functions

In [85]:
#write function if Number is event or not 
iseven=lambda x: 'even' if x%2==0 else 'odd'
iseven(2),iseven(3)

('even', 'odd')

In [92]:
#pass statement : 
for i in range(0,10,2):
    if i==6:
        print(i)
    else:
      pass

6

In [108]:
#global name space Area : 
g1=100
g2=70
def mf99(v1):
    v2=222
    g2=71
    def mf100():
        g2=72
        print(g2)
    mf100()
    print(g2)
print('outside function',g1,g2)
mf99(66)

outside function 100 70
72
71

In [114]:
#recursive function
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)
x=factorial(4)
print(x)

24

In [120]:
#list comprehansion : 
mylist1=[2,4,6,8,10]
newlist=[]
for i in range(0,len(mylist1)):
    newlist.append(mylist1[i]**2)
newlist

[4, 16, 36, 64, 100]

In [124]:
ulist=['u1','u2','u3']
plist=['p1','p2','p3']
uplist=[]
for i in ulist:
    for j in plist:
        uplist.append((i,j))
uplist

[('u1', 'p1'),
 ('u1', 'p2'),
 ('u1', 'p3'),
 ('u2', 'p1'),
 ('u2', 'p2'),
 ('u2', 'p3'),
 ('u3', 'p1'),
 ('u3', 'p2'),
 ('u3', 'p3')]

In [133]:
plist=[1,2,3,4,5,6,7]
#mlist=[num**2 if num%2==0 else num**3 for num in plist]
mlist=[]
for i in plist:
    if i%2==0:
     mlist.append((i,i**2))
    else:
        mlist.append((i,i**3))
mlist

[(1, 1), (2, 4), (3, 27), (4, 16), (5, 125), (6, 36), (7, 343)]

In [134]:
ulist=['u1','u2','u3']
plist=['p1','p2','p3']
uplist=[(u,p) for i in ulist if u!='u2' for p in plist if p!='p2']

NameError: name 'u' is not defined