In [ ]:
print("national stock \nexchange","  ","abc")

In [ ]:
print('Hello\nWorld')

In [ ]:
print("national stock exchange","  ","abc")

In [ ]:
exchange='abc';print('exchange')

In [ ]:
ms1='line 1 of string'
ms1

In [ ]:
## pragraph strings

pragraph='''cow is animal'''
print(pragraph)

In [ ]:
a =10
b = 'abc'

print(a)
print(b)

print(type(a))
print(type(b))

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
print(type(keyword))

In [ ]:


sensor=input('give value')
if sensor ==0:
    print('level is low')
    print('switch motor one')
else:
    print('level is high')
    print('swithc off motor')

In [ ]:
a=10
while a > 1:
    for a in range(5):
        print('a')
    a = a-1

In [8]:
## assignments

myint1=


myint2=int(20)
print(myint1)
print(id(myint1))
print(id(myint2))
print(type(myint1))
print(type(myint2))

SyntaxError: invalid syntax (3450015014.py, line 3)

In [11]:
var1=(20,30,'python')

print(var1)
print(type(var1))

(20, 30, 'python')
<class 'tuple'>

In [14]:
myint=(10,20,30)
myint[0]=33
print(type(myint))

TypeError: 'tuple' object does not support item assignment

In [17]:
a =b=c=2345
print(id(a))
print(id(b))
print(id(c))

2697798517808
2697798517808
2697798517808

In [19]:
a =2345
b=2345
c=2345
print(id(a))
print(id(b))
print(id(c))

2697798517680
2697798517040
2697798516880

In [1]:
name = input("what is your name")
print('may name is :' ,' ',name)

what is your namejitendra singh
may name is :   jitendra singh

In [4]:
marks =int(input('provide your marks'))
marks1 = marks + (40-marks)
print(marks1)

provide your marks55
40

In [5]:
## operators

In [10]:
x = 25 
y = 5 
z = x**5
print(str(z))
print(type(z))

9765625
<class 'int'>

In [11]:
## functions in python

In [31]:
from colorama import Fore, Back, Style
def examResult():
    marks =int(input('provide your marks'))
    if marks > 40:
        print(f'{Fore.GREEN}you passed the exam')
    else:
        print(f"{Fore.RED}sorry you failed the exam")
        print(f"{Fore.RED}This is red")
        print(f"{Back.GREEN}This has a green background")
        print(f"{Fore.YELLOW}{Back.BLUE}This has yellow foreground and blue background")
        
examResult()

provide your marks33
sorry you failed the exam
This is red
This has a green background
This has yellow foreground and blue background

In [38]:
def tempcheck():
    temp = int(input('please provide temprator feels like'))
    if temp > 30:
        print(f'{Fore.RED}its hot')
    elif temp < 20:
        print(f'{Fore.BLUE} its cold')
    else:
        print(f'{Fore.GREEN} its pleasant')
        
tempcheck()

please provide temprator feels like25
 its pleasant

In [39]:
## accessing values in string

abc = "jitendrakumarsingh"

In [53]:
print(len(abc))
print(abc[2:3])

18
t

In [54]:
  value = 2.791514
  print(f'approximate value = {value:.2f}')  # approximate value = 2.79

  car = {'tires':4, 'doors':2}
  print(f'car = {car}') # car = {'tires': 4, 'doors': 2}

approximate value = 2.79
car = {'tires': 4, 'doors': 2}

In [62]:
account=['12344','23454','29272']
cs=input('provide your acc number')
if cs in account:
    print(f'{Fore.GREEN}existing customer')
else:
    print(f'{Fore.RED} customer does not exist')

provide your acc number2121
 customer does not exist

In [66]:
print(dir(str))
abc

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

'jitendrakumarsingh'

In [73]:
abc
print(abc.upper())
help(str.replace())

JITENDRAKUMARSINGH

TypeError: unbound method str.replace() needs an argument

In [75]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [79]:
abc
abc.replace('ji','it')

'ittendrakumarsingh'

In [82]:
ms1 = "king ring singh"
ns1 = ms1.replace('ng','ds',2)
print(ns1)

kids rids singh

In [86]:
abc.find('i',0,5)

1

In [89]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [97]:
print(abc)

print(abc[0:5:2])

jitendrakumarsingh
jtn

In [99]:
account=['12344','23454','29272']
cs=input('provide your acc number')
if cs in account:
    print(f'{Fore.GREEN}existing customer')
else:
    print(f'{Fore.RED} customer does not exist')

provide your acc numberdfd
 customer does not exist

In [102]:
abc = "sing is king"
abc.replace('in','ra',2)

'srag is krag'

In [104]:
## split and join 

ms1 = "world health organization"
ms1.split()

['world', 'health', 'organization']

In [110]:
ms1.split('_',4)

['world health organization']

In [113]:
str1 = "Jitendra_Singh_Engineer_Resume_SA"
str1.split('_',2)

['Jitendra', 'Singh', 'Engineer_Resume_SA']

In [117]:
#3python way of printing things
average = 98.22
sub ="pysics"
num =50
print('average marks in {} of {} studeent is {}'.format(sub,num,average))
print('average marks in {0} of {1} studeent is {2}'.format(sub,num,average))

average marks in pysics of 50 studeent is 98.22
average marks in pysics of 50 studeent is 98.22

In [120]:
ns1 = '{:^1}'.format('python')
ns1

'python'

In [127]:
for i in range(1,40,3):
    print('{:^50}'.format('@'*i))

                        @
                       @@@@
                     @@@@@@@
                    @@@@@@@@@@
                  @@@@@@@@@@@@@
                 @@@@@@@@@@@@@@@@
               @@@@@@@@@@@@@@@@@@@
              @@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@
           @@@@@@@@@@@@@@@@@@@@@@@@@@@@
         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [137]:
for i in range(1,40,3):
    print('{:^40}'.format('*'*i))

                   *
                  ****
                *******
               **********
             *************
            ****************
          *******************
         **********************
       *************************
      ****************************
    *******************************
   **********************************
 *************************************

In [1]:
## list

mylist1=list('jitendra')
mylist1
str='jitendra'
mylist2=list()
for i in range(len(mylist1)):
    mylist2.append(mylist1[i])
mylist2

['j', 'i', 't', 'e', 'n', 'd', 'r', 'a']

In [7]:
str1='Welcom'
str1[-1:-2:-5]

'm'