### OCT 2022: END SEMESTER ASSESSMENT (ESA)
## M TECH DATA SCIENCE AND MACHINE LEARNING_ SEMESTER I
### UE20CS902 – Statistical Methods for Decision Making

In [1]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
import scipy.stats as stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# import the functions to perform Chi-square tests
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare

### 3a) Fifteen adult males between the ages of 35 and 50 participated in a study to evaluate the effect of diet and exercise on blood cholesterol levels. The total cholesterol was measured in each subject initially and then three months after participating in an aerobic exercise program and switching to a low-fat diet. The data  is provided  in BC.csv file. Do the data support the claim that low-fat diet and aerobic exercise are of value in producing a mean reduction in blood cholesterol levels? Use alpha =. 0.05. Find the P-value
- i. State the null hypothesis and the alternate hypothesis. (1 mark)

- ii. Which test is to be performed. (1 mark)
- iii. Compute test statistics, p value. (3 marks)
- iv. At the 0.05 significance level, can we conclude whether program has helpedreduction in cholesterol levels ? (1 mark)

In [2]:
df = pd.read_csv('BC.csv')
df.head()

   subject  Before  After
0        1     265    229
1        2     240    231
2        3     258    227
3        4     295    240
4        5     251    238

#### 3b) The compressive strength of samples of cement can be modeled by a normal distribution with a mean of 6000 kilograms per square centimeter and a standard deviation of 100 kilograms per square centimeter.

- i. What is the probability that a sample’s strength is less than 6250 Kg/cm2 ( 2mark)
- ii. What is the probability that a sample’s strength is between 5800 and 5900 Kg/cm2(2 mark)
- iii. What strength is exceeded by 95% of the samples (2 mark)k

#### 3c) An experiment in which shape measurement was determined for several different nozzle types. Interest in this experiment focuses primarily on nozzle type and to determine whether there is difference across various nozzle types in terms of shape. 

```
Nozzle	                                                                                       					
1	0.78	0.8	    0.81	0.75	0.77	0.78
2	0.85	0.85	0.92	0.86	0.81	0.83
3	0.93	0.92	0.95	0.89	0.89	0.83
4	1.14	0.97	0.98	0.88	0.86	0.83
5	0.97	0.86	0.78	0.76	0.76	0.75

```
- i)	State the hypothesis and the test to be conducted    1 
- ii)	Does nozzle type affect shape measurement use a p value 3
- iii) Based on the mean value for each Nozzle type which would you say can play a siginifcant difference 2 mark

#### 3d) Two catalysts are being analyzed to determine how they affect the mean yield of a chemical process. Specifically, catalysts 1 is currently in use, but catalyst 2 is acceptable. Since catalyst is cheaper, it should be adopted, providing it does not change the process yield. A test is run in the pilot plant and results in the data shown table. Is there any difference in mean yields for an α =.05 and assume equal variances

```
Number	     1	     2	   3	   4	    5	    6	    7	   8
Catlayst1	91.50	94.18	92.18	95.39	91.79	89.07	94.72   89.21
Catalyst2	89.19	90.95	90.46	93.21	97.19	97.04	91.07   92.75

```

- i)	State the hypothesis and type of test to be used                    2 marks
- ii)	Test the hypothesis and conclude                                    4 marks

#### 3e) The amount of water consumed each day by a healthy adult follows a normal distribution with a mean of 1.52 liters, standard deviation of .18. A sample of 40 adults water consumption in liters is taken and it has a mean of 1.76 liters.Test whether any increase in the consumption of water?

- (i) State the null hypothesis and the alternate hypothesis. (1 mark)
- (ii) Which test is to be performed. (1 mark)
- (iii) Compute test statistics, pvalue. (3 marks)
- (iv) At the 0.05 significance level, can we conclude that water consumption has increased? (1 mark)

### 4a) Consider the purchases.csv file and answer the following questions

In [3]:
df_prod = pd.read_csv('purchase.csv')
# display first five observations using head()
df_prod.head()

,Products,Prod_id,Cust_id,Sales,Order_Quan,Profit,Shipping_Cost,Product_Base_Margin,Customer_Segment
0,COPIERS AND FAX,Prod_16,Cust_1088,10909.641,40,2616.46,22.00,0.57,HOME OFFICE
1,COPIERS AND FAX,Prod_16,Cust_1820,10607.641,27,2977.36,23.69,0.56,CORPORATE
2,PAPER,Prod_6,Cust_1659,754.641,13,29.80,8.90,0.37,SMALL BUSINESS
3,PAPER,Prod_6,Cust_622,572.641,22,92.78,10.99,0.39,SMALL BUSINESS
4,OFFICE MACHINES,Prod_17,Cust_564,10128.641,50,5133.68,20.50,0.36,SMALL BUSINESS

### 4a.i)Provide a summary statistics of all the variables, with respect to sales which variables have high correlation (more than .55), moderate (.4-.55) and low correlation. - 3marks

### 4a.ii)Provide a histogram for the variable sales and profit, based on histogram and cacluation of skewness and kurtosis what would you describe about sales and profit. 4 marks

### 4a.iii) Plot the plot the histogram for variable sales, profit based on customer segements,  based on these plots which segment provides more sales, profit and less sales, profit (assume bins  = 15) 4 marks

### 4a.iv) Draw a scatter plot for all of the variables, what is your observation and conclusion for the relationship between sales and  the other numeric variables 4 marks

### 4b. Consider the purchases.csv file and answer the following questions

### 4b.i)Draw a boxplot for sales based on customer segments, what do you observe in terms of outliers, and sales difference for various segments. 3

### 4b.ii)Conduct a hypothesis to see whether there is a difference in terms of sales for customer segment of home business and corporate. What do you conclude 4 - marks

### 4b.iii)Conduct an hypothesis to prove whether the sales from small business segment is mote than corporate, do you agree or not. 4 marks



### 4b.iv)Conduct an ANOVA to check whether there is sales difference for products of the following type Paper, Telephones and Communications, Binder and Binder Accessories and Computer Perephirals. 4 marks