# PDS

# 08/July/2023

# First Program

In [ ]:
print('Hello World')

In [ ]:
print('NSE Mumbai')  # stock exchange
#print('BSE Mumbai')

print('NY # Stock Exchange')

In [ ]:
exchange = 'NSE'      print('exchange')  
# An exception obj of the class SyntaxError is raised with a string message.

In [ ]:
exchange = 'NSE' ;    print('exchange')

In [ ]:
ms1 = 'line 1 of the string 
line2 of the string
line 3 of the string '

In [ ]:
p1 = ''' this is line1  
this is line2
this is line3
'''

In [ ]:
print(p1)

In [ ]:
print(type(p1))

In [ ]:
## p1 is a variable looking at an object of a class called str.

In [ ]:
n1 = 30
'''
block comment 1
block comment 2
block comment 3

'''
print(n1)

In [ ]:
n1 = 30
n1

In [ ]:
n1 = 30
'''
block comment 1
block comment 2
block comment 3

'''

Variable Naming

In [ ]:
var1 = 20
VAR1 = 'Hello'  ##  case sensitive

print(var1)
print(VAR1)

In [ ]:
91index = 30

In [ ]:
index@nse = 60000

In [ ]:
if = 40

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
print(type(keyword))

Indentation

In [ ]:
sensor = 0

if sensor == 0:
    print('level is low')
     print('switch on motor')
else:
    print('level is high')
    print('switch off motor')

In [ ]:
sensor = 0

if sensor == 0:
     print('level is low')
     print('switch on motor')
else:
    print('level is high')
    print('switch off motor')

# Assignment

In [ ]:
myint1 = 20
myint2 = 20

print(type(myint1))
print(type(myint2))

In [ ]:
myint1 = int(20)
myint2 = int(20)

print(type(myint1))
print(type(myint2))

In [ ]:
myint1 = 20
myint2 = 20

print(type(myint1))
print(type(myint2))

print(id(myint1))
print(id(myint2))

In [ ]:
myint1 = 2000
myint2 = 2000


print(type(myint1))
print(type(myint2)) #  type returns the class name

print(id(myint1))
print(id(myint2))  ##  id returns the virtual address of the obj

In [ ]:
var1 = 'hello'
print(type(var1))
print(id(var1))
print(var1[0])

In [ ]:
var1 = [20,30,'python']
print(type(var1))
print(id(var1))
print(var1[0])
var1[0] = 2000
print(var1)

In [ ]:
var1 = (200,300,'python')
print(type(var1))
print(id(var1))
print(var1[0])
var1[0] = 2000
print(var1)

In [ ]:
var1 = {'Bank':'SBI', 'Branch':'MGROAD'}
print(type(var1))
print(id(var1))
print(var1['Branch'])

In [ ]:
a = 2345
b = 2345
c = 2345

print(id(a), id(b), id(c))

In [ ]:
a = b = c= 2345

print(id(a), id(b), id(c))

In [ ]:
# Positional Mapping

v0,v1,v2 = 90, 'Python',87.91
print(v0)
print(v1)
print(v2)

Keyboard Input

In [ ]:
name1 = input('Enter subject: ')
print(name1)
print(type(name1))
print(len(name1))

In [ ]:
marks = input('enter marks')
print(marks)
print(type(marks))

marks1 = int(marks)
print(type(marks1))
newmarks = marks1 + 5
print(newmarks)

In [ ]:
int('789')

In [ ]:
int('hello')

In [ ]:
str(987.78)

In [ ]:
int(56.78)

In [ ]:
float(67)

# Operators

In [ ]:
2 ** 3

In [ ]:
15 // 6

In [ ]:
15 % 6

In [ ]:
15/6

In [ ]:
12 == (4*3)

In [ ]:
12 != 34

In [ ]:
br = 12 == 34
print(type(br))
print(br)

In [ ]:
br = (12 == 34)
print(type(br))
print(br)

In [ ]:
a = 45
not(a)

In [ ]:
not(bool(a))

In [ ]:
bool(0)

In [ ]:
bool(-1)

In [ ]:
bool('False')

In [ ]:
bool('')

In [ ]:
bool([1,2,3])

In [ ]:
bool([])

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
int(bool(100))

# Function Syntax

In [ ]:
def mf1(p0,p1):
    s = p0 + p1
    print(p0,p1,s)
    
    return s

    print(2000)

In [ ]:
r = mf1(100,200)
print(r)

In [ ]:
r = mf1('python', 'data')
print(r)

In [ ]:
def mf2(p0,p1):
    s = p0 + p1
    print(p0,p1,s)
    
r = mf2(100,200)
print(r)
print(type(r))

In [ ]:
def mf2():
    return (10,20)

r = mf2()
print(type(r))
print(r)

In [ ]:
def mf2():
    return 10,20

r = mf2()
print(type(r))
print(r)

In [ ]:
c = (10,100)
a,b = c
print(a,b)

In [ ]:
c = [10,100]
a,b = c
print(a,b)

In [ ]:
a,b = (10,100)
print(a,b)

In [ ]:
c = 10,100
print(c)

In [ ]:
a,b = 10,100
print(a,b,)

In [ ]:
def tempcheck(temp):
    if temp > 99:
        return 'Hot'
    elif temp < 60:
        return 'Cold'
    else:
        return 'Right'

In [ ]:
tempcheck(100)

In [ ]:
tempcheck(55)

In [ ]:
tempcheck(75)

# Strings

In [ ]:
ms1 = 'python data'
print(type(ms1))
print(len(ms1))
print(ms1)

In [ ]:
ms1[0]

In [ ]:
ms1[0] ='j'

In [ ]:
ms1 = 'abcdefghijkl'
print(ms1)
print(ms1[::-1])
print(ms1[::-2])

In [ ]:
'python' + 'data'

In [ ]:
'python' * 3

In [ ]:
'python' in 'python data science'   ## membership operator.

In [ ]:
'python' in 'R  data science'

In [ ]:
'python' not in 'R  data science'

In [ ]:
print(type('hello'))

In [ ]:
print(dir(str))

In [ ]:
help(str.replace)

In [ ]:
ms1 = 'king ring SING'
ns1 = ms1.replace('ng','ms')
print(ns1)

In [ ]:
id(ms1)

In [ ]:
id(ns1)

In [ ]:
ms1 = 'king ring SING'
print(id(ms1))
ms1 = ms1.replace('ng','ms')
print(id(ms1))
print(ms1)

In [ ]:
ms1 = 'king ring SING'
print(id(ms1))
ms1 = ms1.replace('ng','ms', 1)
print(id(ms1))
print(ms1)

In [ ]:
ms1 = 'king ring SING'
print(id(ms1))
ms1 = str.replace(ms1, 'ng','ms', 1)
print(id(ms1))
print(ms1)

In [ ]:
ms1 = 'king ring SING'
index = ms1.find('g')
print(index)

In [ ]:
ms1 = 'king ring SING'
index = ms1.find('g',4)
print(index)

In [ ]:
ms1 = 'king ring SING'
index = ms1.find('g',9,11)
print(index)

In [ ]:
ms1 = 'king ring SING'
c = ms1.count('g')
print(c)

In [ ]:
ms1 = 'king RING SIng'
ms1.count('g')

In [ ]:
ms1 = 'king RING SIng'
ms1.lower()

In [ ]:
ms1 = 'king RING SIng'
ms1.upper()

In [ ]:
ms1 = 'king RING SIng'
ms1.swapcase()

In [ ]:
ms1 = 'king RING SIng'
ms1.title()

In [ ]:
ms1 = 'king RING SIng'
ms1.capitalize()

In [ ]:
"2023".isdigit()

In [ ]:
"2023july".isdigit()

In [ ]:
"2023july".isalnum()

Split and Join

In [ ]:
ms1 = 'world health org geneva'

In [ ]:
ms1.split()

In [ ]:
ms1.split(' ',1)

In [ ]:
ms1 = 'world health org, geneva'
ms1.split(',')

In [ ]:
strlist = ['python', 'data', 'science', 'pes']

ns1 = '::'.join(strlist)
ns1

In [ ]:
strlist = ['python', 'data', 'science', 'pes']

delimiter = '__'
ns1 = delimiter.join(strlist)
ns1

# Pythonic way of Printing

In [ ]:
print(dir(str))

In [ ]:
# average marks in physics of 50 students is 98.31

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## unconstrained place holders.  positional mapping
print('Average marks in {} of {} students is {}'.format(sub, nums,average))

In [ ]:
print('Average marks in {} of {} students is {}'.format(nums,nums,nums))

In [ ]:
## parameter number constraints
print('Average marks in {2} of {0} students is {1}'.format(sub, nums,average))

In [ ]:
print('Average marks in {:s} of {:d} students is {:f}'.format(sub, nums,average))

In [ ]:
# data type constraint
print('Average marks in {:s} of {:d} students is {:f}'.format(nums, sub, average))

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## datatype and parameter index constraint
ns1 = 'Average marks in {1:s} of {2:d} students is {0:f}'.format(average, sub, nums)
print(ns1)

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## datatype and parameter index constraint
ns1 = 'Average marks in {1:s} of {2:d} students is {0:.2f}'.format(round(average,2), sub, nums)
print(ns1)

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## datatype and parameter index constraint
ns1 = 'Average marks in {1:s} of {2:d} students is {0:.2f} {2:d}'.format(round(average,2), sub, nums,100)
print(ns1)

In [ ]:
ns1 = "{}".format('python')
ns1

In [ ]:
ns1 = "s{:20}e".format('python')
ns1

In [ ]:
ns1 = "s{:<20}e".format('python')
ns1

In [ ]:
ns1 = "s{:>20}e".format('python')
ns1

In [ ]:
ns1 = "s{:^20}e".format('python')
ns1

In [ ]:
help('FORMATTING')

In [ ]:
ns1 = "s{:*^20}e".format('python')
ns1

In [ ]:
len(ns1)

In [ ]:
for i in range(1,20,2):
    print('{:^20}'.format('*'*i))

Escape Seq

In [ ]:
print('nse mumbai')

In [ ]:
print('nse\nmumbai')

In [ ]:
print('nse\tmumbai')

In [ ]:
print('nse\bmumbai')

In [ ]:
print('nse\pmumbai')

"c:\tiger"

In [ ]:
print("c:\tiger")

In [ ]:
print("c:\\tiger")

# LIST

In [ ]:
mylist1 = list('python')
mylist1

In [ ]:
mylist1 = ['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
len(mylist1)

In [ ]:
mylist1[0]

In [ ]:
mylist1[0] = 'j'  ##  Lists are mutable types

In [ ]:
print(mylist1)

In [ ]:
''.join(mylist1)

In [ ]:
[1,2,3] + [4,5,6]

In [ ]:
[1,2,3] * 3

In [ ]:
mylist1 = list('pythondatascience')
mylist1

In [ ]:
'z' in mylist1

In [ ]:
mylist1[2:10:2]

In [ ]:
print(type(mylist1))

In [ ]:
print(dir(list))

In [ ]:
mylist1 = [1,3,5]
a = mylist1.append('hello')
print(a)
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.append('hello')
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.append(['hello', 'python'])
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.extend(['hello', 'python'])
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.append('hello').append('python')

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(0,'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(-1,'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(len(mylist1),'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(1000,'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
r = mylist1.pop()
print(r)
mylist1

In [ ]:
mylist1 = [1,3,5]
r = mylist1.pop(1)
print(r)
mylist1

In [ ]:
mylist1 = [1,3,5]
r = mylist1.pop(10)
print(r)
mylist1

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
mylist1.remove(1)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
mylist1.remove(10)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
mylist1.remove(1)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
while (1 in mylist1):
    mylist1.remove(1)
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

i = mylist1.index('a')
print(i)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

i = mylist1.count('a')
print(i)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)
max(mylist1)

In [ ]:
mylist1 = list('pythondatAscience')
print(mylist1)
min(mylist1)

In [ ]:
ord('a')

In [ ]:
ord("A")

In [ ]:
chr(66)

In [ ]:
mylist1 = [1,2,3,'a','b']
print(mylist1)
max(mylist1)

In [ ]:
1 > 'a'

In [ ]:
mylist1 = [1,2,3,'a','b']
print(mylist1)
mylist1.clear()
print(mylist1)

List Sort

In [ ]:
mylist1 = [2,4,6,1,3,5]
mylist1.sort()
print(mylist1)

In [ ]:
mylist1 = [2,4,6,1,3,5]
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = list('python')
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = [2,4,6,'hello']
mylist1.sort()
print(mylist1)

In [ ]:
isinstance('hello',(int,str))

In [ ]:
def key1(obj):
    if isinstance(obj,(int,float)):
        return obj
    
    if isinstance(obj, str):
        return len(obj)
    
    return 0

In [ ]:
mylist1 = [2,4,6,'hello', [11,22,33,44,'python']]
mylist1.sort(key=key1)
print(mylist1)

Copy

In [ ]:
mylist1 = [11,22,33]
mylist2 = [11,22,33]
print(mylist1)
print(mylist2)  ##  two diff lists
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1     ##  view to the same flat list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1.copy()   ##  shallow copy of the flat list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = ['zero', [11,22,33], [44,55,66], [77,88,99] ]
mylist2 = mylist1.copy()  ##  shallo copy of the hierarchial list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'
mylist2[1][0] = 'hello1'

print(mylist1)
print(mylist2)

In [ ]:
import copy

mylist1 = ['zero', [11,22,33], [44,55,66], [77,88,99] ]
mylist2 = copy.deepcopy(mylist1)  ##  deep copy of hierarchial list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'
mylist2[1][0] = 'hello1'

print(mylist1)
print(mylist2)

In [ ]:
print(dir(copy))

# Tuple

In [ ]:
mt1 = tuple('pythondata')
print(mt1)
print(type(mt1))
print(len(mt1))

In [ ]:
mt1[0]

In [ ]:
mt1[0] = 'j'

In [ ]:
mt1 = (123)
print(type(mt1))

In [ ]:
mt1 = (123,)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = (11,22,[444,555,666], 'hello')

In [ ]:
mt1[-1]

In [ ]:
print(type(mt1[-1]))

In [ ]:
mt1[-1][0] = 'j'

In [ ]:
mt1[2]

In [ ]:
print(type(mt1[2]))

In [ ]:
mt1[2][0] = 'hello'

In [ ]:
mt1

In [ ]:
mt1 = tuple('pythondata')
print(mt1)
print(id(mt1))
print()

templist = list(mt1)
templist.append('z')

mt1 = tuple(templist)
print(mt1)
print(id(mt1))

# Dictionary

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 91:'India'}
print(type(md1))
print(md1)
print(len(md1))

In [ ]:
md1['City'] = 'Mumbai'

In [ ]:
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 91:'India', 'Bank':'Axis'}
md1

In [ ]:
md1['SBI']

In [ ]:
md1['Bank']

In [ ]:
md1[0]

In [ ]:
md1[91]

In [ ]:
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', (11,22,33):'Hello'}
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', [11,22,33]:'Hello'}
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', (11,22,33,[55,66]):'Hello'}
md1

In [ ]:
md1

In [ ]:
del md1['Bank']

In [ ]:
md1

In [ ]:
md1.clear()

In [ ]:
md1

In [ ]:
md1['pin'] = 560001

In [ ]:
md1

In [ ]:
print(dir(dict))

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
md1

In [ ]:
k = md1.keys()
print(type(k))
print(k)  ##  list-like
keylist = list(k)
print(keylist)

In [ ]:
k[0]

In [ ]:
vlist = list(md1.values())
vlist

In [ ]:
i = md1.items()
print(i)

In [ ]:
list(i)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('Bank')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('City')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('City', 'unknown')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('Bank', 'unknown')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('Branch')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('City')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('City', 'Unknown')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('Bank', 'Unknown')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('City')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('City', 'Blr')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('Bank')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('Bank', 'Blr')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)

md2 = {'Bank':'Axis', 'City':'Blr'}
print(md2)

In [ ]:
md1.update(md2)

In [ ]:
md1

Creating dict using list

In [ ]:
keylist = ['Bank', 'Branch', 'City']
valuelist = ['SBI', 'MGROAD', 'Mumbai']

In [ ]:
z = zip(keylist, valuelist)
print(type(z))
print(z)
print(list(z))
print(list(z))

In [ ]:
dict([('Bank', 'SBI'), ('Branch', 'MGROAD'), ('City', 'Mumbai')])

In [ ]:
keylist = ['Bank', 'Branch', 'City', 'Pin']
valuelist = ['SBI', 'MGROAD', 'Mumbai']
md2 = dict(zip(keylist, valuelist))
md2

# SET

In [ ]:
ms1 = set()
print(type(ms1))

In [ ]:
ms1 = {2,4,6,8,10,2,4,6}
print(len(ms1))

In [ ]:
ms1.add(20)

In [ ]:
ms1

In [ ]:
print(dir(ms1))

In [ ]:
ms1 = {2, 4, 6, 8, 10, 20}

In [ ]:
ms1.pop()

In [ ]:
ms1 = {2, 4, 6, 8, 10, 20}
ms1.remove(6)

In [ ]:
ms1

In [ ]:
ms1.remove(16)

In [ ]:
ms1 = {2,4,6,8,10,1,3,5}
ms2 = {1,3,5,7,9,11}

In [ ]:
ms1.union(ms2)

In [ ]:
ms1.intersection(ms2)

In [ ]:
ms1-ms2

In [ ]:
ms2-ms1

In [ ]:
ms1.symmetric_difference(ms2)