# PDS

# 08/July/2023

# First Program

In [ ]:
print('Hello World')

In [ ]:
print('NSE Mumbai')  # stock exchange
#print('BSE Mumbai')

print('NY # Stock Exchange')

In [ ]:
exchange = 'NSE'      print('exchange')  
# An exception obj of the class SyntaxError is raised with a string message.

In [ ]:
exchange = 'NSE' ;    print('exchange')

In [ ]:
ms1 = 'line 1 of the string 
line2 of the string
line 3 of the string '

In [ ]:
p1 = ''' this is line1  
this is line2
this is line3
'''

In [ ]:
print(p1)

In [ ]:
print(type(p1))

In [ ]:
## p1 is a variable looking at an object of a class called str.

In [ ]:
n1 = 30
'''
block comment 1
block comment 2
block comment 3

'''
print(n1)

In [ ]:
n1 = 30
n1

In [ ]:
n1 = 30
'''
block comment 1
block comment 2
block comment 3

'''

Variable Naming

In [ ]:
var1 = 20
VAR1 = 'Hello'  ##  case sensitive

print(var1)
print(VAR1)

In [ ]:
91index = 30

In [ ]:
index@nse = 60000

In [ ]:
if = 40

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
print(type(keyword))

Indentation

In [ ]:
sensor = 0

if sensor == 0:
    print('level is low')
     print('switch on motor')
else:
    print('level is high')
    print('switch off motor')

In [ ]:
sensor = 0

if sensor == 0:
     print('level is low')
     print('switch on motor')
else:
    print('level is high')
    print('switch off motor')

# Assignment

In [ ]:
myint1 = 20
myint2 = 20

print(type(myint1))
print(type(myint2))

In [ ]:
myint1 = int(20)
myint2 = int(20)

print(type(myint1))
print(type(myint2))

In [ ]:
myint1 = 20
myint2 = 20

print(type(myint1))
print(type(myint2))

print(id(myint1))
print(id(myint2))

In [ ]:
myint1 = 2000
myint2 = 2000


print(type(myint1))
print(type(myint2)) #  type returns the class name

print(id(myint1))
print(id(myint2))  ##  id returns the virtual address of the obj

In [ ]:
var1 = 'hello'
print(type(var1))
print(id(var1))
print(var1[0])

In [ ]:
var1 = [20,30,'python']
print(type(var1))
print(id(var1))
print(var1[0])
var1[0] = 2000
print(var1)

In [ ]:
var1 = (200,300,'python')
print(type(var1))
print(id(var1))
print(var1[0])
var1[0] = 2000
print(var1)

In [ ]:
var1 = {'Bank':'SBI', 'Branch':'MGROAD'}
print(type(var1))
print(id(var1))
print(var1['Branch'])

In [ ]:
a = 2345
b = 2345
c = 2345

print(id(a), id(b), id(c))

In [ ]:
a = b = c= 2345

print(id(a), id(b), id(c))

In [ ]:
# Positional Mapping

v0,v1,v2 = 90, 'Python',87.91
print(v0)
print(v1)
print(v2)

Keyboard Input

In [ ]:
name1 = input('Enter subject: ')
print(name1)
print(type(name1))
print(len(name1))

In [ ]:
marks = input('enter marks')
print(marks)
print(type(marks))

marks1 = int(marks)
print(type(marks1))
newmarks = marks1 + 5
print(newmarks)

In [ ]:
int('789')

In [ ]:
int('hello')

In [ ]:
str(987.78)

In [ ]:
int(56.78)

In [ ]:
float(67)

# Operators

In [ ]:
2 ** 3

In [ ]:
15 // 6

In [ ]:
15 % 6

In [ ]:
15/6

In [ ]:
12 == (4*3)

In [ ]:
12 != 34

In [ ]:
br = 12 == 34
print(type(br))
print(br)

In [ ]:
br = (12 == 34)
print(type(br))
print(br)

In [ ]:
a = 45
not(a)

In [ ]:
not(bool(a))

In [ ]:
bool(0)

In [ ]:
bool(-1)

In [ ]:
bool('False')

In [ ]:
bool('')

In [ ]:
bool([1,2,3])

In [ ]:
bool([])

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
int(bool(100))

# Function Syntax

In [ ]:
def mf1(p0,p1):
    s = p0 + p1
    print(p0,p1,s)
    
    return s

    print(2000)

In [ ]:
r = mf1(100,200)
print(r)

In [ ]:
r = mf1('python', 'data')
print(r)

In [ ]:
def mf2(p0,p1):
    s = p0 + p1
    print(p0,p1,s)
    
r = mf2(100,200)
print(r)
print(type(r))

In [ ]:
def mf2():
    return (10,20)

r = mf2()
print(type(r))
print(r)

In [ ]:
def mf2():
    return 10,20

r = mf2()
print(type(r))
print(r)

In [ ]:
c = (10,100)
a,b = c
print(a,b)

In [ ]:
c = [10,100]
a,b = c
print(a,b)

In [ ]:
a,b = (10,100)
print(a,b)

In [ ]:
c = 10,100
print(c)

In [ ]:
a,b = 10,100
print(a,b,)

In [ ]:
def tempcheck(temp):
    if temp > 99:
        return 'Hot'
    elif temp < 60:
        return 'Cold'
    else:
        return 'Right'

In [ ]:
tempcheck(100)

In [ ]:
tempcheck(55)

In [ ]:
tempcheck(75)

# Strings

In [ ]:
ms1 = 'python data'
print(type(ms1))
print(len(ms1))
print(ms1)

In [ ]:
ms1[0]

In [ ]:
ms1[0] ='j'

In [ ]:
ms1 = 'abcdefghijkl'
print(ms1)
print(ms1[::-1])
print(ms1[::-2])

In [ ]:
'python' + 'data'

In [ ]:
'python' * 3

In [ ]:
'python' in 'python data science'   ## membership operator.

In [ ]:
'python' in 'R  data science'

In [ ]:
'python' not in 'R  data science'

In [ ]:
print(type('hello'))

In [ ]:
print(dir(str))

In [ ]:
help(str.replace)

In [ ]:
ms1 = 'king ring SING'
ns1 = ms1.replace('ng','ms')
print(ns1)

In [ ]:
id(ms1)

In [ ]:
id(ns1)

In [ ]:
ms1 = 'king ring SING'
print(id(ms1))
ms1 = ms1.replace('ng','ms')
print(id(ms1))
print(ms1)

In [ ]:
ms1 = 'king ring SING'
print(id(ms1))
ms1 = ms1.replace('ng','ms', 1)
print(id(ms1))
print(ms1)

In [ ]:
ms1 = 'king ring SING'
print(id(ms1))
ms1 = str.replace(ms1, 'ng','ms', 1)
print(id(ms1))
print(ms1)

In [ ]:
ms1 = 'king ring SING'
index = ms1.find('g')
print(index)

In [ ]:
ms1 = 'king ring SING'
index = ms1.find('g',4)
print(index)

In [ ]:
ms1 = 'king ring SING'
index = ms1.find('g',9,11)
print(index)

In [ ]:
ms1 = 'king ring SING'
c = ms1.count('g')
print(c)

In [ ]:
ms1 = 'king RING SIng'
ms1.count('g')

In [ ]:
ms1 = 'king RING SIng'
ms1.lower()

In [ ]:
ms1 = 'king RING SIng'
ms1.upper()

In [ ]:
ms1 = 'king RING SIng'
ms1.swapcase()

In [ ]:
ms1 = 'king RING SIng'
ms1.title()

In [ ]:
ms1 = 'king RING SIng'
ms1.capitalize()

In [ ]:
"2023".isdigit()

In [ ]:
"2023july".isdigit()

In [ ]:
"2023july".isalnum()

Split and Join

In [ ]:
ms1 = 'world health org geneva'

In [ ]:
ms1.split()

In [ ]:
ms1.split(' ',1)

In [ ]:
ms1 = 'world health org, geneva'
ms1.split(',')

In [ ]:
strlist = ['python', 'data', 'science', 'pes']

ns1 = '::'.join(strlist)
ns1

In [ ]:
strlist = ['python', 'data', 'science', 'pes']

delimiter = '__'
ns1 = delimiter.join(strlist)
ns1

# Pythonic way of Printing

In [ ]:
print(dir(str))

In [ ]:
# average marks in physics of 50 students is 98.31

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## unconstrained place holders.  positional mapping
print('Average marks in {} of {} students is {}'.format(sub, nums,average))

In [ ]:
print('Average marks in {} of {} students is {}'.format(nums,nums,nums))

In [ ]:
## parameter number constraints
print('Average marks in {2} of {0} students is {1}'.format(sub, nums,average))

In [ ]:
print('Average marks in {:s} of {:d} students is {:f}'.format(sub, nums,average))

In [ ]:
# data type constraint
print('Average marks in {:s} of {:d} students is {:f}'.format(nums, sub, average))

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## datatype and parameter index constraint
ns1 = 'Average marks in {1:s} of {2:d} students is {0:f}'.format(average, sub, nums)
print(ns1)

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## datatype and parameter index constraint
ns1 = 'Average marks in {1:s} of {2:d} students is {0:.2f}'.format(round(average,2), sub, nums)
print(ns1)

In [ ]:
average = 98.31
sub = 'Physics'
nums = 50


## datatype and parameter index constraint
ns1 = 'Average marks in {1:s} of {2:d} students is {0:.2f} {2:d}'.format(round(average,2), sub, nums,100)
print(ns1)

In [ ]:
ns1 = "{}".format('python')
ns1

In [ ]:
ns1 = "s{:20}e".format('python')
ns1

In [ ]:
ns1 = "s{:<20}e".format('python')
ns1

In [ ]:
ns1 = "s{:>20}e".format('python')
ns1

In [ ]:
ns1 = "s{:^20}e".format('python')
ns1

In [ ]:
help('FORMATTING')

In [ ]:
ns1 = "s{:*^20}e".format('python')
ns1

In [ ]:
len(ns1)

In [ ]:
for i in range(1,20,2):
    print('{:^20}'.format('*'*i))

Escape Seq

In [ ]:
print('nse mumbai')

In [ ]:
print('nse\nmumbai')

In [ ]:
print('nse\tmumbai')

In [ ]:
print('nse\bmumbai')

In [ ]:
print('nse\pmumbai')

"c:\tiger"

In [ ]:
print("c:\tiger")

In [ ]:
print("c:\\tiger")

# LIST

In [ ]:
mylist1 = list('python')
mylist1

In [ ]:
mylist1 = ['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
len(mylist1)

In [ ]:
mylist1[0]

In [ ]:
mylist1[0] = 'j'  ##  Lists are mutable types

In [ ]:
print(mylist1)

In [ ]:
''.join(mylist1)

In [ ]:
[1,2,3] + [4,5,6]

In [ ]:
[1,2,3] * 3

In [ ]:
mylist1 = list('pythondatascience')
mylist1

In [ ]:
'z' in mylist1

In [ ]:
mylist1[2:10:2]

In [ ]:
print(type(mylist1))

In [ ]:
print(dir(list))

In [ ]:
mylist1 = [1,3,5]
a = mylist1.append('hello')
print(a)
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.append('hello')
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.append(['hello', 'python'])
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.extend(['hello', 'python'])
print(mylist1)

In [ ]:
mylist1 = [1,3,5]
mylist1.append('hello').append('python')

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(0,'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(-1,'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(len(mylist1),'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
mylist1.insert(1000,'hello')
mylist1

In [ ]:
mylist1 = [1,3,5]
r = mylist1.pop()
print(r)
mylist1

In [ ]:
mylist1 = [1,3,5]
r = mylist1.pop(1)
print(r)
mylist1

In [ ]:
mylist1 = [1,3,5]
r = mylist1.pop(10)
print(r)
mylist1

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
mylist1.remove(1)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
mylist1.remove(10)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
mylist1.remove(1)
print(mylist1)

In [ ]:
mylist1 = [1,2,3,4,5,1,2,3,4,5,1,2,3,1]
while (1 in mylist1):
    mylist1.remove(1)
print(mylist1)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

i = mylist1.index('a')
print(i)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)

i = mylist1.count('a')
print(i)

In [ ]:
mylist1 = list('pythondatascience')
print(mylist1)
max(mylist1)

In [ ]:
mylist1 = list('pythondatAscience')
print(mylist1)
min(mylist1)

In [ ]:
ord('a')

In [ ]:
ord("A")

In [ ]:
chr(66)

In [ ]:
mylist1 = [1,2,3,'a','b']
print(mylist1)
max(mylist1)

In [ ]:
1 > 'a'

In [ ]:
mylist1 = [1,2,3,'a','b']
print(mylist1)
mylist1.clear()
print(mylist1)

List Sort

In [ ]:
mylist1 = [2,4,6,1,3,5]
mylist1.sort()
print(mylist1)

In [ ]:
mylist1 = [2,4,6,1,3,5]
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = list('python')
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = [2,4,6,'hello']
mylist1.sort()
print(mylist1)

In [ ]:
isinstance('hello',(int,str))

In [ ]:
def key1(obj):
    if isinstance(obj,(int,float)):
        return obj
    
    if isinstance(obj, str):
        return len(obj)
    
    return 0

In [ ]:
mylist1 = [2,4,6,'hello', [11,22,33,44,'python']]
mylist1.sort(key=key1)
print(mylist1)

Copy

In [ ]:
mylist1 = [11,22,33]
mylist2 = [11,22,33]
print(mylist1)
print(mylist2)  ##  two diff lists
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1     ##  view to the same flat list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [11,22,33]
mylist2 = mylist1.copy()   ##  shallow copy of the flat list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = ['zero', [11,22,33], [44,55,66], [77,88,99] ]
mylist2 = mylist1.copy()  ##  shallo copy of the hierarchial list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'
mylist2[1][0] = 'hello1'

print(mylist1)
print(mylist2)

In [ ]:
import copy

mylist1 = ['zero', [11,22,33], [44,55,66], [77,88,99] ]
mylist2 = copy.deepcopy(mylist1)  ##  deep copy of hierarchial list
print(mylist1)
print(mylist2)
print()

print(id(mylist1))
print(id(mylist2))
print()
mylist2[0] = 'hello'
mylist2[1][0] = 'hello1'

print(mylist1)
print(mylist2)

In [ ]:
print(dir(copy))

# Tuple

In [ ]:
mt1 = tuple('pythondata')
print(mt1)
print(type(mt1))
print(len(mt1))

In [ ]:
mt1[0]

In [ ]:
mt1[0] = 'j'

In [ ]:
mt1 = (123)
print(type(mt1))

In [ ]:
mt1 = (123,)
print(type(mt1))
print(mt1)

In [ ]:
mt1 = (11,22,[444,555,666], 'hello')

In [ ]:
mt1[-1]

In [ ]:
print(type(mt1[-1]))

In [ ]:
mt1[-1][0] = 'j'

In [ ]:
mt1[2]

In [ ]:
print(type(mt1[2]))

In [ ]:
mt1[2][0] = 'hello'

In [ ]:
mt1

In [ ]:
mt1 = tuple('pythondata')
print(mt1)
print(id(mt1))
print()

templist = list(mt1)
templist.append('z')

mt1 = tuple(templist)
print(mt1)
print(id(mt1))

# Dictionary

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 91:'India'}
print(type(md1))
print(md1)
print(len(md1))

In [ ]:
md1['City'] = 'Mumbai'

In [ ]:
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 91:'India', 'Bank':'Axis'}
md1

In [ ]:
md1['SBI']

In [ ]:
md1['Bank']

In [ ]:
md1[0]

In [ ]:
md1[91]

In [ ]:
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', (11,22,33):'Hello'}
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', [11,22,33]:'Hello'}
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', (11,22,33,[55,66]):'Hello'}
md1

In [ ]:
md1

In [ ]:
del md1['Bank']

In [ ]:
md1

In [ ]:
md1.clear()

In [ ]:
md1

In [ ]:
md1['pin'] = 560001

In [ ]:
md1

In [ ]:
print(dir(dict))

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
md1

In [ ]:
k = md1.keys()
print(type(k))
print(k)  ##  list-like
keylist = list(k)
print(keylist)

In [ ]:
k[0]

In [ ]:
vlist = list(md1.values())
vlist

In [ ]:
i = md1.items()
print(i)

In [ ]:
list(i)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('Bank')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('City')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('City', 'unknown')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.get('Bank', 'unknown')
print(v)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('Branch')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('City')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('City', 'Unknown')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.pop('Bank', 'Unknown')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('City')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('City', 'Blr')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('Bank')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)
v = md1.setdefault('Bank', 'Blr')
print(v)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch': 'MGROAD'}
print(md1)

md2 = {'Bank':'Axis', 'City':'Blr'}
print(md2)

In [ ]:
md1.update(md2)

In [ ]:
md1

Creating dict using list

In [ ]:
keylist = ['Bank', 'Branch', 'City']
valuelist = ['SBI', 'MGROAD', 'Mumbai']

In [ ]:
z = zip(keylist, valuelist)
print(type(z))
print(z)
print(list(z))
print(list(z))

In [ ]:
dict([('Bank', 'SBI'), ('Branch', 'MGROAD'), ('City', 'Mumbai')])

In [ ]:
keylist = ['Bank', 'Branch', 'City', 'Pin']
valuelist = ['SBI', 'MGROAD', 'Mumbai']
md2 = dict(zip(keylist, valuelist))
md2

# SET

In [ ]:
ms1 = set()
print(type(ms1))

In [ ]:
ms1 = {2,4,6,8,10,2,4,6}
print(len(ms1))

In [ ]:
ms1.add(20)

In [ ]:
ms1

In [ ]:
print(dir(ms1))

In [ ]:
ms1 = {2, 4, 6, 8, 10, 20}

In [ ]:
ms1.pop()

In [ ]:
ms1 = {2, 4, 6, 8, 10, 20}
ms1.remove(6)

In [ ]:
ms1

In [ ]:
ms1.remove(16)

In [ ]:
ms1 = {2,4,6,8,10,1,3,5}
ms2 = {1,3,5,7,9,11}

In [ ]:
ms1.union(ms2)

In [ ]:
ms1.intersection(ms2)

In [ ]:
ms1-ms2

In [ ]:
ms2-ms1

In [ ]:
ms1.symmetric_difference(ms2)

# 09/July/2023

# Decision Making

Single Line If Else

In [ ]:
def tempcheck1(temp):
    if temp > 99:
        result = 'Hot'
    else:
        if temp < 60:
            result = 'Cold'
        else:
            result = 'Right'
            
    return result

In [ ]:
tempcheck1(100)

In [ ]:
tempcheck1(10)

In [ ]:
tempcheck1(77)

In [ ]:
def tempcheck2(temp):
    
    result = ('Hot',temp) if temp > 99 else ('Cold',temp) if temp < 60 else ('Right',temp)
    
            
    return result

In [ ]:
tempcheck2(77)

In [ ]:
10 > 20 < 60

In [ ]:
def graderchecker(marks):
    
    result = (marks, 'Dist',100-marks) if marks >= 70 else (marks, 'FC',70-marks)     if marks >= 60 else (marks, 'SC',60-marks)     if marks >= 50 else (marks, 'PC',50-marks)     if marks >= 35 else (marks, 'Fail',35-marks)
    
    return result

In [ ]:
print(graderchecker(88))
print(graderchecker(68))
print(graderchecker(58))
print(graderchecker(48))
print(graderchecker(28))

# range

In [ ]:
r = range(10,30,2)
print(type(r))
print(r)

In [ ]:
list(r)

In [ ]:
list(range(10))

In [ ]:
list(range(10,20))

In [ ]:
list(range(10,20,2))

In [ ]:
import sys

In [ ]:
mylist1 = list(range(0,10000000,1))
print(len(mylist1))
sys.getsizeof(mylist1)

In [ ]:
r = range(0,10000000000000,1)
sys.getsizeof(r)

In [ ]:
r[0]

In [ ]:
r[-1]

In [ ]:
for i in range(10):
    print(i)

# While

In [ ]:
n1 = 20
n2 = 25

while n1 < n2:
    print(n1)
    n1 = n1 + 1

In [ ]:
##  upcounter
n1 = 20
n2 = 25

while n1 < n2:
    print(n1)
    n1 += 1

In [ ]:
n1 = 20
n2 = 25

while n1 < n2:
    print(n1, end=' ')
    n1 += 1

In [ ]:
print(10,20,30,40,sep='::::')

In [ ]:
print(dir(__builtins__))

In [ ]:
for letter in "python":
    print(letter)

In [ ]:
a = (10,20)
print(a)

In [ ]:
a,b = 10,20

In [ ]:
a,b = (10,20)  ##  unpack

In [ ]:
a,b = (10,20,30)

In [ ]:
a = 10,20,30  ##  packing into a tuple
print(a)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD'}
for kv in md1:
    print(kv)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD'}
for kv in md1.items():
    print(kv)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD'}
for k, v in md1.items():
    print(k,v)

In [ ]:
for element in [10,20,30]:
    print(element)

In [ ]:
for element in (10,20,30):
    print(element)

In [ ]:
def isPrime(num):
    
    if num <= 1:
        return False
    
    for div in range(2,num):
        if num%div == 0:
            return False
        
    return True

In [ ]:
isPrime(1)

In [ ]:
for num in range(20):
    print('{} <- {}'.format(num, isPrime(num)))
    #print(num, isPrime(num))

# Functions

In [ ]:
def mf1(p0,p1):
    print(p0,p1)

In [ ]:
mf1()

In [ ]:
mf1(10)

In [ ]:
mf1('hello',20)

In [ ]:
def mf2(r0,d0=100):
    print(r0,d0)

In [ ]:
mf2()

In [ ]:
mf2(10)

In [ ]:
mf2(10,20)

In [ ]:
def mf3(d0=100, r0):
    print(r0,d0)

In [ ]:
#RULE_1: While defining a function, required parameters must be specified 
#  before default parameters

In [ ]:
def mf4(r0,r1):
    print(r0,r1)

In [ ]:
mf4(10,20)

In [ ]:
mf4(r1=100, r0=200)

In [ ]:
mf4(r1=100, p0=200)

In [ ]:
def mf5(r0,r1):
    print(r0,r1)

In [ ]:
mf5(r1=200,100)

In [ ]:
## RULE_2:  While calling a function, positional values should be specified first
##  and then Parameter-keyword based values

In [ ]:
mf5(100,r1=200)

In [ ]:
mf5(100,r1=200, r0=400)

In [ ]:
#setup a variable tuple container to consume values that come in positionally
def mf6(*args): 
    print(args)
    print(type(args))

In [ ]:
mf6(20)

In [ ]:
mf6(10,20,30,40)

In [ ]:
def mf7(r0,r1,*args):
    print("r0", r0)
    print("r1", r1)
    print("args", args)

In [ ]:
mf7(10,20)

In [ ]:
mf7(10,20,30,40,50)

In [ ]:
def mf8(*args, r0,r1,):
    print("r0", r0)
    print("r1", r1)
    print("args", args)

In [ ]:
mf8(10,20,30,40,50)

In [ ]:
mf8((10,20,30),40,50,'hello')

In [ ]:
# RULE_3: variable tuple can be populated only with values passed in positional style

In [ ]:
def mf9(kwargs):
    print("kwargs", kwargs)

In [ ]:
mf9(10)

In [ ]:
mf9(a=10)

In [ ]:
def mf10(**kwargs):
    print("kwargs", kwargs)

In [ ]:
mf10(100)

In [ ]:
mf10(abcd=100, a =400, b='hello')

In [ ]:
def mf11(r0, **kwargs):
    print('r0', r0)
    print("kwargs", kwargs)

In [ ]:
mf11(abcd=100, a =400, b='hello',r0='pds')

In [ ]:
mf11("pds", abcd=100, a =400, b='hello')

In [ ]:
#RULE_4: variabe dict can be populated only in parameter-keyword style

In [ ]:
def mf12(r0,r1,d0=100,d1=200, *args, **kwargs):
    print("r0", r0)
    print("r1", r1)
    print("d0", d0)
    print("d1", d1)    
    print("args", args)
    print("kwargs", kwargs)

In [ ]:
mf12(10,20,30,40,50,60,70,a=100,b=200)

In [ ]:
def mf13(r0,r1,*args, d0=100,d1=200,**kwargs):
    print("r0", r0)
    print("r1", r1)
    print("d0", d0)
    print("d1", d1)    
    print("args", args)
    print("kwargs", kwargs)

In [ ]:
mf13(10,20,30,40,50,60,70,a=1000,b=2000, d1=4000)

# Lambda Expression

In [ ]:
def isEven1(num):
    
    return num%2 == 0

In [ ]:
print(type(isEven1))

In [ ]:
isEven1(20)

In [ ]:
isEven1(21)

In [ ]:
isEven2 = lambda num : num%2 == 0

In [ ]:
print(type(isEven2))

In [ ]:
isEven2(20)

In [ ]:
isEven2(21)

In [ ]:
checkOddEven = lambda num : "Even" if num%2==0 else "Odd"

In [ ]:
checkOddEven(20)

In [ ]:
checkOddEven(21)

In [ ]:
key2 = lambda obj: obj if isinstance(obj, (int,float)) else 0

mylist1 = [12,4,6,'hello', [11,22,33,44,'python']]
mylist1.sort(key=key2)
print(mylist1)

In [ ]:
mylist1 = [12,4,6,'hello', [11,22,33,44,'python']]
mylist1.sort(key=lambda obj: obj if isinstance(obj, (int,float)) else 10000)
print(mylist1)

In [ ]:
sensor = 1

if sensor == 1:
    pass
else:
    print('sensor off')

# Scope of Variables

In [ ]:
g1 = 100
g2 = 200


def mf99(v1):
    global g1
    v2 = 222
    g1 = 1212
    
    print(locals())
    print("inside fn", g1,g2,v1,v2)
    
print("before fn", g1,g2)
mf99(111)
print("outside fn", g1,g2)

In [ ]:
g1 = 100
g2 = 200
g3 = 300

def mf888():
    g2 = 2323   ##  non local
    def mf99(v1):
        global g1
        v2 = 222
        g1 = 1212

        print(locals())
        print("inside fn", g1,g2,g3,v1,v2)
        
    print(locals())
    mf99(2020)
    
print("before fn", g1,g2)
mf888()
print("outside fn", g1,g2)

# Recursion

In [ ]:
def fact(n):
    if n == 0:
        return 1
    
    return n * fact(n-1)

In [ ]:
fact(6)

# List Comprehension

In [ ]:
mylist1 = [2,4,6,8,10]

newlist = []
for num in mylist1:
    newlist.append(num**2)
    
print(newlist)

In [ ]:
mylist1 = [2,4,6,8,10]

sqlist = [ num**2     for num in mylist1   ]

print(sqlist)

In [ ]:
mylist1 = [1,2,4,5,7,8]

plist = []
for num in mylist1:
    if num%2 == 0:
        plist.append(num**2)
    else:
        plist.append(num**3)
        
print(plist)

In [ ]:
mylist1 = [1,2,4,5,7,8]
plist = [ num**2 if num%2==0 else num**3   for num in mylist1  ]
print(plist)

In [ ]:
mylist1 = [1,2,4,5,7,8]
evensqlist = []

for num in mylist1:
    if num%2 == 0:
        evensqlist.append(num**2)
print(evensqlist)

In [ ]:
mylist1 = [1,2,4,5,7,8]

eslist = [ num**2  for num in mylist1  if num%2==0]
print(eslist)

In [ ]:
eolist = []

for num in range(10,40):
    if num%3 == 0:
        if num%2 == 0:
            eolist.append((num,num**2))
        else:
            eolist.append((num,num**3))
            
print(eolist)

In [ ]:
eolist1 = [(num,num**2) if num%2==0 else (num,num**3)  for num in range(10,40)  if num%3==0 ]
print(eolist1)

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']

uplist = []
for u in ulist:
    for p in plist:
        uplist.append((u,p))
        
print(uplist)

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']

uplist = [(u,p)  for u in ulist   for p in plist ]
print(uplist)

Grammer # 3

[ <3, final expre>  <1. level0 for loop >  <2. level1 for loop>]
control_flow:  1,2,3,2,3,2,3,2,3,2ends,  1,2,3,2,3,2,3,2ends, 1end

Grammer # 1

[<2. final_expre>     <1. for loop >]
control_flow:  1,2  1,2  1,2  1end.


Grammer # 2
[<3. final express>.  <1. for loop>  <2. Gating Condition> ]

control_flow:  1,2T,3   1,2F   1,2T,3  1end


Grammer # 3

[ <3, final expre>  <1. level0 for loop >  <2. level1 for loop>]
control_flow:  1,2,3,2,3,2,3,2,3,2ends,  1,2,3,2,3,2,3,2ends, 1end

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']

uplist = []
for u in ulist:
    if u != 'u2':
        for p in plist:
            if p != 'p2':
                uplist.append((u,p))
        
print(uplist)

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']

uplist = [(u,p)  for u in ulist  if u!='u2' for p in plist if p!='p2']
print(uplist)

In [ ]:
n = [num%3 for num in range(30) ]
print(n)

In [ ]:
n = {num%3 for num in range(30) }
print(n)

In [ ]:
n = {num:num**2  for num in range(10) }
n