### Aug 2022: END SEMESTER ASSESSMENT (ESA)
## M TECH DATA SCIENCE AND MACHINE LEARNING_ SEMESTER I
### UE20CS902 – Statistical Methods for Decision Making

In [1]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
import scipy.stats as stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# import the functions to perform Chi-square tests
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare

# Section B

#### 3a) Jim is a real estate agent who sells large commercial buildings, Because his commission is so large on a single sale,   he does not need to sell many buildings to make a good living. History shows that Jim has a record of selling an average of eight large commercial buildings every 275 days.  In a 60-day period, what is the probability that Jim will make 

- No sales? 
- One sale? 
- Two or more sales? 
- In a 90-day period, what is the probability that Jim will make no sales? (1+1+1+2)

#### 3b) The compressive strength of samples of cement can be modeled by a normal distribution with a mean of 6000 kilograms per square centimeter and a standard deviation of 100 kilograms per square centimeter.

- i. What is the probability that a sample’s strength is less than 6250 Kg/cm2 ( 2mark)
- ii. What is the probability that a sample’s strength is between 5800 and 5900 Kg/cm2(2 mark)
- iii. What strength is exceeded by 95% of the samples (2 mark)k

#### 3c) The production manager at the Yen Sewing Factory claims that on average the diameter of a class 14M bobbin is less than 18 mm. The previous study shows that the standard deviation is 1.7 mm. Consider a sample of 40 class 14M bobbins from a normally distributed population with sample mean diameter as 17.5 mm. Plot the acceptance and rejection regions to test the claim of the production manager with 99% confidence. 
    i. State the null hypothesis and the alternate hypothesis. (1 mark)
    ii. Which test is to be performed. (1 mark)
    iii. Compute test statistics, p value. (3 marks)
    iv. At the 0.01 significance level, can we conclude that water consumption has increased? (1 mark)

The null and alternative hypothesis is:

H<sub>0</sub>: $\mu \geq 18 $<br>
H<sub>1</sub>: $\mu < 18 $

Let us plot the acceptance and rejection region for a left-tailed test with 99% confidence.

#### 3d) Two catalysts are being analyzed to determine how they affect the mean yield of a chemical process. Specifically, catalysts 1 is currently in use, but catalyst 2 is acceptable. Since catalyst is cheaper, it should be adopted, providing it does not change the process yield. A test is run in the pilot plant and results in the data shown table. Is there any difference in mean yields for an α =.05 and assume equal variances

```
Number	     1	     2	   3	   4	    5	    6	    7	   8
Catlayst1	91.50	94.18	92.18	95.39	91.79	89.07	94.72   89.21
Catalyst2	89.19	90.95	90.46	93.21	97.19	97.04	91.07   92.75

```

- i)	State the hypothesis and type of test to be used                    2 marks
- ii)	Test the hypothesis and conclude                                    4 marks

#### 3e) A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Test the company's claim that the course was effective in developing soft skills with 95% confidence using the p-value technique.

    Consider the scores given in the file `paired_data.xlsx`
    please consider the first two attributes 

1. Check if the attributes are normally distributed (2 marks)
2. State the null hypothesis and alternate hypothesis (1 mark)
3. Test the hypothesis and conclude. (3 marks)

# Section C

### 4a) Consider the admission.xlsx file and answer the following questions

DATA DESCRIPTION:
The data set consists of complete educational details of students right from their schooling to MBA and previous work experience. Our main objective is to predict the Salary of the students based on the info available
ATTRIBUTES:

    SlNo - ID of the student
    Gender - Gender of Student
    Percent_SSC - Percentage of marks scored in SSC
    Board_SSC - Types of Boards in SSC
    Percent_HSC - Percentage of marks scored in HSC
    Board_HSC - Types of Boards in HSC
    Stream_HSC - Specialization in HSC
    Percent Degree - Percentage of marks scored in Degree
    Course_Degree - Different courses in degree
    Experience_Yrs - Work Experience of the Students
    Entrance_Test - Test which students give for MBA college Entrance
    Percentile_ET - Percentage of marks scored in Entrance_Test
    Percent_MBA - Percentage of marks scored in MBA
    Specialization_MBA - Specialization in MBA
    Marks Communication - Percentage of marks scored in Communication
    Marks_Projectwork - Percentage of marks scored in Project Work
    Placement - Whether Student got placed or not
    Salary - Salary of students

In [81]:
df = pd.read_excel('admission.xlsx')
# display first five observations using head()
df.head()

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Placement,Salary
0,1,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0,MAT,55.0,58.80,Marketing & HR,50.0,65.0,Placed,270000
1,2,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1,MAT,86.5,66.28,Marketing & Finance,69.0,70.0,Placed,200000
2,3,M,72.00,Others,78.00,Others,Commerce,66.63,Engineering,0,NaN,0.0,52.91,Marketing & Finance,50.0,61.0,Placed,240000
3,4,M,60.00,CBSE,63.00,CBSE,Arts,58.00,Management,0,MAT,75.0,57.80,Marketing & Finance,54.0,66.0,Placed,250000
4,5,M,61.00,CBSE,55.00,ISC,Science,54.00,Engineering,1,MAT,66.0,59.43,Marketing & HR,52.0,65.0,Placed,180000

###### 4a.i)Provide a summary statistics of all the variables and explain which variables has high variability (3 mark) <br> List out the numerical and categorical features in the dataset (2 marks) <br>  (Total- 5marks)

### 4a.ii)Provide a histogram for the variable salary and Percentage of marks scored in MBA, based on histogram and cacluation of skewness and kurtosis what would you describe. (5 marks)

### 4a.iii) Draw a boxplot for salary based on different MBA specialization, what do you observe in terms of outliers, and salary difference for specialization segments. (5 marks)

### 4a.iv) Draw a scatter plot for all of the variables, what is your observation and conclusion for the relationship between students salary and  the other numeric variables (5 marks)

### 4b. Consider the admission.csv file and answer the following questions

### 4b.i)  Check whether the percentile in entrance test from the data follows normal distribution by using a proper plot and with suitable statistical test. (5 marks)

### 4b.ii)Conduct a hypothesis to see whether there is a difference in terms of salary for students degree specialization of management and engineering. What do you conclude (consider level of significance 0.05) (5 marks)

### 4b.iii)Conduct an hypothesis to prove whether the salary of a student from commenrce stream is higher than Science stream, do you agree or not. (consider level of significance 0.05)  (5 marks)



### 4b.iv)Conduct an ANOVA to check whether there is salary difference for students with diffetent MBA_specialization of Marketing & Finance , Marketing & HR, Operations & Management, Marketing & IB. State your inferences. (consider level of significance 0.05)  (5 marks)