In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st

In [5]:
#lambda = 4 # per hr 
##
lambda1=4*1.5
st.poisson.cdf(10,lambda1)

0.957379076417462

In [9]:
x=np.arange(0,11)
st.poisson.pmf(x,lambda1).sum()

0.9573790764174617

In [11]:
df=sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [13]:
df.smoker.value_counts(normalize=True)*100

No     61.885246
Yes    38.114754
Name: smoker, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split
#model for Train and test

In [18]:
x=df.drop('smoker',axis=1)
y=df.smoker
y
x

     total_bill   tip     sex   day    time  size
0         16.99  1.01  Female   Sun  Dinner     2
1         10.34  1.66    Male   Sun  Dinner     3
2         21.01  3.50    Male   Sun  Dinner     3
3         23.68  3.31    Male   Sun  Dinner     2
4         24.59  3.61  Female   Sun  Dinner     4
..          ...   ...     ...   ...     ...   ...
239       29.03  5.92    Male   Sat  Dinner     3
240       27.18  2.00  Female   Sat  Dinner     2
241       22.67  2.00    Male   Sat  Dinner     2
242       17.82  1.75    Male   Sat  Dinner     2
243       18.78  3.00  Female  Thur  Dinner     2

[244 rows x 6 columns]

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y)
y_train.value_counts(normalize=True)

No     0.620513
Yes    0.379487
Name: smoker, dtype: float64

In [24]:
y_test.value_counts(normalize=True)

No     0.612245
Yes    0.387755
Name: smoker, dtype: float64

In [27]:
#Central limit Theorem by laplas 
c10=plt.subplot(gs[9,3])
c10=sns.distplot(sample_mean_calculator(rskew_population,5000))#

NameError: name 'gs' is not defined