In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st

In [10]:
df=sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
#hypothesis Tests

In [8]:
#problem statement 1 : is the total bill same  for lunch and dinner verify @ 5 % leval of significance
#problem statement 2 : is the tip same for male and female transactions ? verify @ 5 % level of significance
#problem statement 3 : is the proportion of smoking 40 % of transaction ? verify @ 1 % level of significane
#problem statement 4 : is the smoking proportion smame for both mail and female verify @ 3%  level of significance 
#problem statement 5 : is there any relationship bw total bill and tip? verify @4% level of significance 
#problem statement 6 : is  the smoking proportion varies from thursday to sunday ? verify @ 2% level of significance
#problem statement 7 : is the total bill varies from thursday to sunday ? verify @ 6% level of significance

In [9]:
#problem statement 1 : is the total bill same  for lunch and dinner verify @ 5 % leval of significance
#here we have 1 numarical  and 1 catagorical data with two options in catagory 
# 2 sample test independent test

In [45]:
#problem statement 2 : is the tip same for male and female transactions ? verify @ 5 % level of significance
#1 catagorical and 1 catagorical data with 2 catagory values
# 2 sample test independent test

In [64]:
#problem statement 3 : is the proportion of smoking 40 % of transaction ? verify @ 1 % level of significane
#1 sample test of propotion

In [17]:

#problem statement 4 : is the smoking proportion smame for both mail and female verify @ 3%  level of significance 
#2 sample test of proportion

In [14]:
#problem statement 5 : is there any relationship bw total bill and tip? verify @4% level of significance 
#correlation test both numarical (pearson R test)

In [18]:
#problem statement 6 : is  the smoking proportion varies from thursday to sunday ? verify @ 2% level of significance
# 2 by 4 matrix chi square test of association

In [19]:
#problem statement 7 : is the total bill varies from thursday to sunday ? verify @ 6% level of significance
#1 way Anuva test

In [21]:
#problem statement 1 : is the total bill is  same  for lunch and dinner verify @ 5 % leval of significance
#here we have 1 numarical  and 1 catagorical data with two options in catagory 
# 2 sample test independent test
Step 0 : Assumption Test (important while doing paramatrics):
        #1  Test of normality :
since the sample size is > 30 >>> as per CLT the population follows normal distribution 
#2  Variance Equality test (levene test):
    H0=Population variances are equel 
    H1= any two population variances are not equal 
    if p value > alpha >>> accept H0 else reject H0

'\n# Step 0 : Assumption Test (important while doing paramatrics)\n   # Test of normality :\nsince the sample size is > 30 >>> as per CLT the population follows normal distribution \n\n'

In [42]:
#leven test to check variance equality bw tb of lunch and dinner 
'''
H0 : population_var_tb_lunch = population_var_tb_dinner
H1 : population_var_tb_lunch != population_var_tb_dinner
'''

'\nH0 : population_var_tb_lunch = population_var_tb_dinner\nH1 : population_var_tb_lunch != population_var_tb_dinner\n'

In [54]:
tb_lunch=df[df.time=='Lunch']['total_bill']
tb_dinner=df[df.time=='Dinner']['total_bill']
st.levene(tb_lunch,tb_dinner)

TypeError: 'tb_lunch' is an invalid keyword argument for print()

In [30]:
#since p value 0.1022346107726258 > alpha  0.05 >>> accept H0 : which concludes that the
# >>>population variances are equal

In [41]:
#H0: mu_tb_lunch = mu_tb_dinner
#H1: mu_tb_lunch != mu_tb_dinner

In [39]:
alpha = 0.05 
st.ttest_ind(tb_lunch,tb_dinner,equal_var=True)

Ttest_indResult(statistic=-2.8976375218366424, pvalue=0.004104621407595674)

In [40]:
0.004104621407595674 > 0.05 #  reject the theory 
#p value
nl=len(tb_lunch)
nd=len(tb_dinner)
dof = nl + nd -2 #  degree of freedom 
st.t.sf(abs(-2.8976375218366424),dof)*2

0.004104621407595674

In [46]:
#result total bill for lunch is not equal to total bill for dinner as , there is a difference in them 
.004104621407595674 > 0.05

False

In [47]:
#problem statement 2 : is the tip same for male and female transactions ? verify @ 5 % level of significance
#1 catagorical and 1 catagorical data with 2 catagory values
# 2 sample test independent test
Step 0 : Assumption Test (important while doing paramatrics):
        #1  Test of normality :
since the sample size is > 30 >>> as per CLT the population follows normal distribution 
#2  Variance Equality test (levene test):
    H0=Population variances are equel 
    H1= any two population variances are not equal 
    if p value > alpha >>> accept H0 else reject H0

SyntaxError: invalid syntax (4058469150.py, line 4)

In [58]:
alpha=0.05
tip_male=df[df.sex=='Male']['tip']
tip_female=df[df.sex=='Female']['tip']
st.levene(tip_male,tip_female)

LeveneResult(statistic=1.9909710178779405, pvalue=0.1595236359896614)

In [60]:
0.1595236359896614 > 0.05
#H0 is good

True

In [62]:
st.ttest_ind(tip_male,tip_female,equal_var=True)

Ttest_indResult(statistic=1.387859705421269, pvalue=0.16645623503456755)

In [65]:
0.16645623503456755 > 0.05
# H0 is good  tip for male and female transaction is same

True

In [66]:
#problem statement 3 : is the proportion of smoking 40 % of transaction ? verify @ 1 % level of significane
#1 sample test of propotion

In [69]:
df.smoker.value_counts(normalize=True) # %

No     0.618852
Yes    0.381148
Name: smoker, dtype: float64

In [71]:
df.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [77]:
#H0: ps = 0.4 # sample belongs to population whose smoking propotion is .4 
#H1: ps !=0.4  # sample does not belong to that proportion 

alpha =.01
#z stattisctics 
P=0.4
x= 93 
n=244
p = x/n 
q = 1-p 
se = np.sqrt(p*q/n)
z_stat=(p-P)/se
print(z_stat)

z_critical=st.norm.ppf(0.005)
st.norm.cdf(z_stat)*2


### manual calculations

-0.6063491832694735

0.5442829052719291

In [86]:
from statsmodels.stats.proportion import proportions_ztest ,proportion_confint

In [88]:
proportions_ztest(x,n,P) # x people smoke , n total number P given sample proportion 
 # find the range for accepting or rejecting

#since  p value is > alpha we accept H0 that means 40 %  transactions are from smokers

(-0.6063491832694735, 0.5442829052719291)

In [89]:
proportion_confint(x,n,0.01)

(0.301060492599145, 0.46123458936806805)

In [84]:

#problem statement 4 : is the smoking proportion smame for both male and female verify @ 3%  level of significance 
#2 sample test of proportion

In [91]:
#H0 Pm = Pf
#H1 Pm != Pf
pd.crosstab(df.sex,df.smoker)

In [97]:
alpha = 0.03 
xm=60
xf=33
nm=157
nf=87
pm = xm / nm
pf = xf/nf
p = (xm + xf)/(nm+nf)
q=1-p
se = np.sqrt(p*q*((1/nm)+(1/nf)))
z_state=(pm-pf)/se
z_critical=st.norm.isf(alpha/2)
print(z_stat,z_critical)

-0.6063491832694735 2.1700903775845606

In [99]:
proportions_ztest([xm,xf],[nm,nf])

(0.043986572230939734, 0.9649151073157315)

In [100]:

9649151073157315 >  0.03

True

In [101]:
#since p value is greater tan alpha there is no significance diff between proportino of smokers between maile nad femails

In [102]:
#problem statement 5 : is there any relationship bw total bill and tip? verify @4% level of significance 
#correlation test both numarical (pearson R test)

In [104]:
df[['total_bill','tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [ ]:
alpha = .04
H0 population_correlation coeff = 0 
H1  Population_Correlation coeff != 0

In [106]:
st.pearsonr(df.total_bill,df.tip)

PearsonRResult(statistic=0.6757341092113647, pvalue=6.6924706468630016e-34)

In [108]:
#since P value is less than alpha then we need to reject h0 
#conclude that there is significant  relationship  between the total bill

In [103]:
#problem statement 6 : is  the smoking proportion varies from thursday to sunday ? verify @ 2% level of significance
# 2 by 4 matrix chi square test of association

In [109]:
pd.crosstab(df.smoker,df.day)

day     Thur  Fri  Sat  Sun
smoker
Yes       17   15   42   19
No        45    4   45   57

In [110]:
pd.crosstab(df.smoker,df.day,normalize=True)

day         Thur       Fri       Sat       Sun
smoker
Yes     0.069672  0.061475  0.172131  0.077869
No      0.184426  0.016393  0.184426  0.233607

In [112]:
#h0 : pth = pfr=psun=psat ther eis no association of bw smoking and day 
#h1 : any two proportion are difference, there is association of smoking and day 
    
#test of association , test of independence 

st.chi2_contingency(pd.crosstab(df.smoker,df.day))

Chi2ContingencyResult(statistic=25.787216672396262, pvalue=1.0567572499836523e-05, dof=3, expected_freq=array([[23.63114754,  7.24180328, 33.15983607, 28.96721311],
       [38.36885246, 11.75819672, 53.84016393, 47.03278689]]))

In [ ]:
#Degree of freedom (m-1)(n-1) number of rows and number of columes

In [114]:
#p value  : 
st.chi2.sf(25.787216672396262,3)

1.0567572499836523e-05

In [116]:
alpha = .02
#critical value
st.chi2.isf(alpha,3)

9.837409311192594

In [117]:
#since the p value is close to zero which is less thatn alpha 
#reject H0 
#hence we cna conclude there is an associate bw smoking and days

In [120]:
#check the associate between type and day 
pd.crosstab(df.time,df.day)

day     Thur  Fri  Sat  Sun
time
Lunch     61    7    0    0
Dinner     1   12   87   76

In [121]:
st.chi2_contingency(pd.crosstab(df.time,df.day))

Chi2ContingencyResult(statistic=217.1126728434853, pvalue=8.449897551777147e-47, dof=3, expected_freq=array([[17.27868852,  5.29508197, 24.24590164, 21.18032787],
       [44.72131148, 13.70491803, 62.75409836, 54.81967213]]))

In [123]:
st.chi2.sf(217.1126728434853,3)

8.449897551777147e-47

In [124]:
alpha = .02
#critical value
st.chi2.isf(alpha,3)

9.837409311192594

In [ ]:
#problem statement 7 : is the total bill varies from thursday to sunday ? verify @ 6% level of significance
#1 way Anuva test 
#analysis of variance