<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Session 1 & 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**
7. **[String](#string)**
8. **[List](#list)**
9. **[Tuple](#tuple)**
10. **[Set](#set)**
11. **[Dictionary](#dict)**
12. **[Conditional Statements](#cond)**
13. **[Python Flow Control](#flow_control)**
14. **[List Comprehension](#lc)**
15. **[User-Define Function](#User_Define)**
16. **[Lambda Functions](#Lambda_Functions)**
    - 16.1 **[Map Function](#Map_Function)**
    - 16.2 **[Filter Function](#Filter_Function)**
    - 16.3 **[Reduce Function](#Reduce_Function)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
print('Hello, How are you?')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
print('A\nB\nC')

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [ ]:
strinvar='python'
print(type(strinvar))

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [ ]:
num = int(10)
print(type(num))

ii. A fractional variable

In [ ]:
frac = 3/8
print(type(frac))

**Declare a boolean variable and check its data type.**

In [ ]:
bul = True
print(type(bul))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num = 10 
print(type(num))
b = str(num)

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
(145*354)- (1345/45) + (462+23)/3
# Preference of / and * is more than + - 
# first they will be calculated 
# and then will follow left to right 
# used // to make it to remove decimals

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Evaluate  and print the results of the following <br>
                        <ol type = '1'> 
                            <li> 1353 plus 234 </li> 
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li> 
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
print(1353+234)
print(2355-346)
print(457*234)
print(25/6)
print(25%6)
print(33**4)
print(45//6)
print(2**10)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def bmi():
    weight=float(input('kindly provide your weight in kg '))
    print(type(weight))
    height=float(input('kindly provide your eight in cms'))
    heightinmeters=height*0.01
    print(heightinmeters)
    bmivalue=weight/(heightinmeters**2)
    if bmivalue > 30:
        print('obessed body , please reduce weight')
    elif bmivalue < 24.9:
        print('you are Fit')
    else:
        print('reduce some more weight please')
    return bmivalue 
bmi()

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
print((54+34)* 45 ==(0.9*2432)/0.9 )

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
str1='pes'
str2='university'
str3= str1 + str2
print('concatanated strings using + results in ',str3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num=34
numstr=str(num)
str2='How old are you?'
strresult=  str2 + numstr
print(strresult)

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
#select a number for which table needs to be printed 
number = 5 
# keeping a loop from 1-11 (1-10)
for a in range(1,11):
    # Print table 
    print(number * a)

<a id="string"></a>
## 7. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Given the string 'Today is a sunny day.' 
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
str1 = 'Today is a sunny day.'
words = str1.split()
neededword=[]
for word in words:
     if word =='Today' or word== 'sunny':
          neededword.append(word)
print(neededword)

In [ ]:
# Another way 
str1 = 'Today is a sunny day.'
words = str1.split()
words.index('Today')
words.index('sunny')
print(words[words.index('Today')]  + ' ' + words[words.index('sunny')] )

<a id="list"> </a>
## 8. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [ ]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
len(mix_list_1)

**b. Check the membership of '24' in mix_list_1**

In [ ]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
stringt='24'
if stringt  in mix_list_1:
    print('24 is available' )
else:
    print('24 is available' )

**c. Concatenate the mix_list_1 and mix_list_2**

In [ ]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
for a in mix_list_2:
    mix_list_1.append(a)
mix_list_1

**d. Repeat the mix_list_2 three times**

In [ ]:
mix_list_2 = [4, 7, 'Summer']
newlist=mix_list_2 * 3
newlist

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [ ]:
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]
result_list=[]
for i in range(0,len(num_list_1)):
    result_list.append(num_list_1[i]*num_list_2[i])
result_list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [ ]:
mix_list = ['Python', 1, 2, 3, 'Data', True] 
mix_list[0]

**b. Second last element**

In [ ]:
mix_list[-2]

**c. First three elements**

In [ ]:
mix_list[0:3]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [ ]:
mix_list[0:5:2]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [ ]:
num_list = [4, 5, 7, -2, 0, 1] 
min(num_list)

**b. Max(list)**

In [ ]:
num_list = [4, 5, 7, -2, 0, 1] 
max(num_list)

**c. Sort the elements (use sort() and sorted() function)**

In [ ]:
num_list.sort()
num_list

**d. Create a copy of a list**

In [ ]:

num_list = [4, 5, 7, -2, 0, 1] 
copylist=num_list.copy()
copylist

**e. Remove element '5' from the list**

In [ ]:
num_list = [4, 5, 7, -2, 0, 1] 
num_list.pop(1)
num_list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [ ]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('Data')
languages_list

**b. Add elements 'Excel' and 'Data' in the given list**

In [ ]:
languages_list = ['R', 'Python', 'C', 'Java']
new_list = ['Excel','Data']
languages_list += new_list
languages_list

**c. Replace an element 'C' with 'C++' in the given list**

In [ ]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list[2]='c++'
languages_list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [ ]:
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
help(list.count)
seasons_list.count('Summer')

<a id="tuple"> </a>
## 9. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [ ]:
num_tuple = (4, 4, 8)
len(num_tuple)

**b. Concatenate the num_tuple and mix_tuple**

In [ ]:
num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2
concat_tuple = num_tuple + mix_tuple
concat_tuple

**c. Repeat the mix_tuple two times**

In [ ]:
mix_tuple = 'John', 5, -2
repeat_tuple = mix_tuple * 2
repeat_tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_list=list(mix_tuple)
mix_list[1]= 3
mix_tuple=tuple(mix_list)
mix_tuple

**b. Replace 'True' in first element of the tuple with 'False'**

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_list=list(mix_tuple)
mix_list[0][2]='False'
mix_tuple=tuple(mix_list)
mix_tuple

<a id="set"> </a>
## 10. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

**b. Remove '3' from a given set**

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.remove(3)
num_set

**c. Clear the set**

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.clear()
num_set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [ ]:
sentence_1 = 'We shall analyse the data using python'
set1=set(sentence_1.split())
sentence_2 = 'Python for data science'
set2=set(sentence_2.split())
set1
set2

**a. Find the number of unique words in the sentences**

In [ ]:
num_of_unique_words_in_sen1=len(set1)
num_of_unique_words_in_sen1
num_of_unique_words_in_sen2=len(set2)
num_of_unique_words_in_sen2

**b. Find the common words in both the sentences**

In [ ]:
print(set1 & set2)

**c. Find the unique words in both the sentences**

In [ ]:
print(set1 and set2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [ ]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
set3=A.union(B)
set3

**b. Intersection**

In [ ]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
set3=A.intersection(B)
set3

**c. Set of all the elements of set A that are not in set B**

In [ ]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
set3=A.union(B)
set3=A - B
set3

**d. Set of all the elements of set B that are not in set A**

In [ ]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}
set3=A.union(B)
set3=B - A
set3

**e. Symmetric difference**

In [ ]:
set1=A.symmetric_difference(B)
set1

<a id="dict"> </a>
## 11. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Provide solution for the following:<br><br> 
                        a. Write a program to create a dictionary using given keys and values<br> 
                                   Use the keys and values to create a dictionary<br> 
                                   key = ['Weight','BMI','Age','Profession']<br> 
                                   value = [67, 25, 27, 'CA']<br> 
                        b.Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary<br> 
                        c.Write a program to retrieve the keys/values of dictionary<br> 
                        d.Write a program to get the value for 'Age' from the dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Write a program to create a dictionary using given keys and values**

**Use the keys and values to create a dictionary**

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [ ]:
key = ['Weight','BMI','Age','Profession']
value = [67, 25, 27, 'CA']
x = zip(key,value)
dict1=dict(x)
print(dict1)

**b. Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary**

In [ ]:
dict1
dict1['Height']='154'
dict1

**c. Write a program to retrieve the keys/values of dictionary**

In [ ]:
dict1

**d. Write a program to get the value for 'Age' from the dictionary**

In [ ]:
dict1['Age']

<a id="cond"> </a>
## 12. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num=int(input('provide your Numbers'))
if num%7 ==0:
    print('Number is multiple of 7 ')
else:
    print('number is not multiple of 7')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num=int(input('provide your Numbers'))
if num > 0 :
    print('Number is positive ')
elif num < 0:
    print('number is a Negative ')
else:
    print('number is 0')

<a id= "flow_control"> </a>
## 13. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
count = 10
n1 = 0 
n2 = 1
while i < 11:
           print(i+1)
           i = i + 1num=int(input('provide your Numbers'))
if num%7 ==0:
    print('Number is multiple of 7 ')
else:
    print('number is not multiple of 7')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num1=int(input('provide first Number'))
num2=int(input('provide Second Number'))
if num1>num2:
    print('Num1 is greater than Num2')
elif num1 == num2:
      print('both numbers are same')
else:
    print('num1 is smaller than num2')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num=int(input('kindly provide a Number:  '))
if num ==1:
    print(num,'number is not prime')
elif num > 1:
    for i in range(2,num):
        if (num%i)==0:
            print('number is not prime')
            break
    else:
        print('num number is prime')
else:
    print('number is not prime')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>31. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
x=int(input('provide first number'))
y=int(input('provide first number'))
sum1=0
sum2=0
for i in range(1,x):
    if x%i==0:
        sum1+=i
for j in range(1,y):
    if y%j==0:
        sum2+=j
if(sum1==y and sum2==x):
    print('given numbers are ambicable')
else:
    print('given numbers are not ambicable')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>32. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
string1=input('provide your string')
string1[::-1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>33. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:

def simpleintrest():
    p=int(input('kindly provide principal amount'))
    r=float(input('kindly provide intrest rate '))
    t=int(input('kindly provide Number of years'))
    si=(p*r*t)/100
    print('simple intrest for mentioned data is: ',si)
    
simpleintrest()

<a id= "lc"> </a>
## 14. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
string1=list('what is my name')
string1
string2=['a','e','i','o','u']
for i in range(0,len(string1)):
    for j in range(0,len(string2)):
         if string1[i]==string2[j]:
                print('found vovel in sentance',string2[j])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [ ]:
dict1={'1':{'arman','24'},'2':{'Mohit','25'},'3':{'Gauri','26'},'4':{'Imran','24'},'5':{'Roma','27'}}
keys=list(dict1.keys())
values=list(dict1.values())
for i in range(0,len(keys)):
    if (i+1) % 2 == 0:
        print(values[i])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
num=range(1,11)
keys=(list(num))
type(keys)
values=list()
dict2={}
for i in range(0,len(keys)):  
       values.insert(i,(i+1)**3)
dict2=dict(zip(keys,values))
dict2

In [ ]:
# type your code here

<a id='User_Define'></a>
## 15. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [ ]:

def swapvalues(mylist):
    my_list[0],my_list[-1] = my_list[-1],my_list[0]
    return my_list
my_list = [15, 78, 10, 45, 89] 
my_list
swapvalues(my_list)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
def factorialfun():
    n = int(input("provide a number"))
    
    if n == 0:
        print('factorial is : ','1')
    elif n < 0:
        print('there is no fact value for numbers less than 0')
    else:
        fact=1
        for i in range(1,n+1):
            fact=fact*i
        return fact
factorialfun()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>40. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [ ]:
my_list = [1,2,3,3,11,34,3,3,4,5]
set1=set(my_list)
my_list=list(set1)
my_list

<a id='Lambda_Functions'></a>
## 16. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>41. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
min = lambda num1,num2: num1 if num1 < num2 else num2
min(23,22)

<a id='Map_Function'></a>
### 16.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>42. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [20]:
numbers = [ 74, 85, 14, 23 ]

def func1(num):
    return num%5
abc=map(func1,numbers)
list1=list(abc)
list1


#######
numbers = [ 74, 85, 14, 23 ]
func2=lambda num: num%5
abc=map(func2,numbers)
list1=list(abc)
list1

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>43. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [39]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
list3=[]
type(str(list2[0]))

for i in range(0,min(len(list1),len(list2))):
           list3.append(list1[i]+str(list2[i]))
list3

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

<a id='Filter_Function'></a>
### 16.2 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
set1=set(arr1)
set2=set(arr2)
set1

<a id='Reduce_Function'></a>
### 16.3 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [7]:
import functools
from functools import reduce
my_list = [47,11,42,102,13] 
print(reduce(max, my_list))

102