In [5]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from sklearn.metrics import r2_score

In [6]:
data=pd.read_csv('advertising.csv')
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [7]:
x=data['TV']
y=data['Sales']
Xc=sm.add_constant(x)

In [8]:
from sklearn.model_selection import train_test_split
xtrain,ytrain,xtest,ytest=train_test_split(Xc,y,test_size=.2,random_state=10)

In [2]:
model1=sm.OLS(ytrain,xtrain)

NameError: name 'sm' is not defined