# 08 July Py for DS session 1

In [ ]:

#single line comments
print("National Stock Exchange")
#print("ignore value")
print('new york # stock excahnge')
# Multiple line comments , new line seprates statements , it executes one at a time , use ; to seprate within same line

In [ ]:
exchange = 'abc'; print("excahnge")
                    
# Sends the exception object of  class syntax error with string  msg  and interpreter stops further processing once it gets the error

In [ ]:
exchange = 'abc' ;print(exchange)

In [ ]:
ms1 = 'line 1 of string
line2 
line3'
#string should terminate in same line else you would get error

In [ ]:
#Paragraph strings
paragraph = """cow is animal 
it gives milk """
print(paragraph)
print(type(paragraph))
#Paragraph is a variable looking at an object of class string str.

In [ ]:
# if you do not attach paragraph to  a variable  it become  a block comment 
exchange = "NSE"

"""
print adfd
obc

"""
#print(exchange)
# it will only print what jupter has  not  python

In [ ]:
n1 = 30
n1
#jupyter IDE is intellegent enough so its not python which is giving the result

In [ ]:
n = 'b' 
print(n)
##commit

In [ ]:
#Python var Type
ABC=10
abc=20
print(abc)
print(ABC)

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
import keyword
print(type(keyword))
# keyword is object of class Module type Module

In [ ]:
#indentation of code block 
#within same block indentation should be same 
# across the block its fine 
a = 10
while a > 0:
    print(a)
    a = a -1

In [ ]:
sensor = 1
if sensor ==0:
    print('level is low')
    print('swith on motor')
else:
    print('level is high')
    print('swich off motor')

# assignments

In [ ]:
myint1 = 20
myint = int(20)
myint2 = 20 
print(type(myint1))
print(type(myint2))
print(type(myint))
print(id(myint1))
print(id(myint2))
#type returns the class name
# ID returns virtual address of the object

In [ ]:
var1 = (20,30,'python')
print(var1)
print(type(var1))
print(id(var1))
print(var1[0])

In [ ]:
var1 = {'bank':'sbi','branch':'ecity'}
print(var1)
print(type(var1))
print(id(var1))
print(var1['bank'],var1['branch'])

In [ ]:
myint = (10,20,30)
print(type(myint))
myint[0]= 22
print(myint)
# tuple are not changable

In [ ]:
a = b = c = 2345
print(id(a))
print(id(b))
print(id(c))
# same memory locations
a = 2345
b = 2345
c = 2345 
print(id(a))
print(id(b))
print(id(c))
#diff memory location

In [ ]:
# positional mapping
a , b , c = 12000 ,'hello' , 12000
print(id(a))
print(id(b))
print(id(c))
print(a)
print(b)
print(c)

# take data from keyboard

In [ ]:
name = input("what is your name")
print("my name is " + ''+ name)
print(type(name))
print(len(name))
# Lenth using len
#Keyboard input will always return  object Type of class STR

In [ ]:
marks = input('enter marks')
print(marks)
print(type(marks))
#marks1= int(marks)
newmarks = marks + 5 
print(newmarks)

In [ ]:
marks = input('enter marks')
print(marks)
print(type(marks))
marks1= int(marks)
newmarks = marks1 + 5 
print(newmarks)

In [ ]:
weight = float(input('provide your weight'))
print(weight,type(weight))

# Operators

In [ ]:
#arthmetic, assignment, relationsl, logical
x = 25
y = 5
p = y ** x
print(str(p))
print(len(str(p)))
print(26 % 5 )

In [ ]:
a = ""
bool(a)

# Functions in python

In [ ]:
def ExamResult():
    marks=int(input('enter your marks'))
    if marks > 40:
        print("pass ho gya bccchu tu to ")
    else:
        print("oh sorry ! you failed, padhai kara karo ")

ExamResult()

In [ ]:
# if progreaammer did not specify the return statement , None is by default returned 
x = print(hello)
print(x)

In [ ]:
def mf1():
  p0 = int(input("provide p0"))
  p1 = int(input("provide p0"))
  b = p0 + p1
  return b
  print(b)
    
r = mf1()
print(r)
print(type(mf1))
#Commands after return are ignored by Python by Nature

# decision / Branching

In [ ]:
else if , if alif

# build in data structures

In [ ]:
def tempCheck():
    temp = int(input("provide what is temp feels like"))
    if temp > 90:
        print("it is hot")
    elif temp < 60:
        print("it is cold")
    else:
        print("its is just right")
        
tempCheck()

# string Data type

In [ ]:
#Strings are non mutable in memory
#len for lenth of string
#  Mutablity you cant change charactor

In [ ]:
ms1='python data'
print(type(ms1))
print(len(ms1))
print(ms1)
print(ms1[4])

# accessing Values in Strings

In [ ]:
abc= 'ABCDFEFGHJKL'
print(abc[-8:-2])
print(abc[:])
print(abc[::2])
print(abc[-1::-1])

# concatnation and membership

In [ ]:
# + operator
# in cheks for inclusion
# not in checks for absense 
accounts=['1234','4344','3344']
cs = input("provide account number")
if cs in accounts:
    print("existing customers")
else:
    print("new customer form")

In [ ]:
# KNow attributes of class 
print(dir(str))

In [ ]:
help(str.replace)

In [ ]:
ms1 = "hello"
ms2 = ms1[:]
print(id(ms1))
print(id(ms2))

In [ ]:
ms1 = "king ring singh"
ns1 = ms1.replace('ng','ds',3)
print(ns1)

# replace/ find methodes

In [ ]:
mystr1 = "nationalExchange"
index= mystr1.find('g')
print(mystr1.find('a',4,7))
print(mystr1.replace('g','o').find('g'))
print(mystr1.count(a))

In [ ]:
mystr1 = "national stock exchange Mumbai"
c = mystr1.count('a')
print(c)
print(mystr1.lower())
print(mystr1.swapcase())
print(mystr1.title())
print(mystr1.capitalize())
print('2023'.isdigit())

# Split & Join

In [ ]:
ms1 = "world health org geneva"
ms1.split()

In [ ]:
ms1 = "world health org geneva"
ms1.split(' ',1)

In [ ]:
str1 = "Jitendra_Singh_Engineer_Resume_SA"
str1.split('_',2)

In [ ]:
str = ['national', 'stock','exchange','mumbai','city']
ns1='_'.join(str)
ns1

# python way of printing

In [ ]:
average = 98.31
sub = 'pysics'
nums = 50
#uncontrained placeholer will take any value ay date type can be given Nums can be at any place. positional Mapped 
print ('avergage marks in {} of {} student is {}'.format(sub,nums,average))
# Index Constrains 
print ('avergage marks in {0} of {2} student is {1}'.format(sub,nums,average))
# data type and parameter index constraicooolye ns
print ('avergage marks in {0:s} of {1:d} student is {2:.2F}'.format(sub,nums,average))
#Data Type Constains 
print ('avergage marks in {:s} of {:d} student is {:.2f}'.format(sub,nums,average))

# format

In [ ]:
ns1 = '{:^40}'.format('python')
ns1

In [ ]:
help('formatting')

In [ ]:
for i in range(1,40,3):
     print('{:^40}'.format('@'*i))

# escape sequences

In [ ]:
#\n \t

In [ ]:
print('nse\n mumbai')

In [ ]:
print('c:\tiger')

In [ ]:
print('c:\\tiger')

# Lists

In [ ]:
# list is an ordred set of values where eash value is identified by an index
#Lists are mutable 
#can be iterated using loop
mylist1=list('jitendra')
print(mylist1)
mylist1[1]='k' # mutable types
print(mylist1)
print('manuplating')
mylist1[1]='i'
a=''.join(mylist1)

print(mylist1)
print(a)

# matrix reprresenations

In [ ]:
matrix34 = [[11,12,13,14],[15,16,17,18],[19,20,21,22]]
matrix34[1][1]
matrix34[1]
print(type(matrix34))
print(dir(list))

In [ ]:
mylist1=[2,4,6,3,5,7,1]
mylist2=[1,2,3]
mylist1.extend([5,10,15])
mylist1.extend(['hello','ok'])
mylist1

In [ ]:
#insert
mlist2=[1,1,3]
mylist1.insert(1,"hello")
mylist1

In [ ]:
list1=[1,2,3]
list1.insert(-1,"hello")
list1
#list1.pop()
#list1

In [ ]:
mylist3
print('check')
mylist2=mylist3.copy()
mylist2
mylist4=mylist2.copy()
mylist4

In [ ]:
mylist1=list('pythong data cycing')
i = mylist1.index('a')
print(i)
c = mylist1.count('a')
print(c)
max(mylist1)

In [ ]:
mylist3=[2,4,7]
max(mylist3)

In [ ]:
mylist2=['a','y','z']
max(mylist2)

# List Sort

In [ ]:
mylist1= [2,4,6,8,9,4,3,9]
mylist1.sort()
mylist1

In [ ]:
mylist1 = [2,4,6,8,9,4,3,9]
mylist1.sort(reverse=True)
mylist1

In [ ]:
mylist1 = [2,4,6,8,9,4,3,9,"HELLO"]
mylist1.sort(reverse=True)
mylist1

In [1]:

mylist1 = [2,4,6,8,9,4,3,9,"HELLO"]
mylist1.sort(reverse=True)
mylist1

TypeError: '<' not supported between instances of 'int' and 'str'

In [2]:
def key1(obj):
    if isinstance(obj,(int,float)):
        return(obj)
    if isinstance(obj,str):
        return len(obj)
    return 0

In [3]:
mylist1 = [2,4,6,8,9,3,9,"HELLO"]
mylist1.sort(key=key1)
print(mylist1)

[2, 3, 4, 'HELLO', 6, 8, 9, 9]

In [ ]:
# shallo and Deep copy 
#practics

# Tuple

In [ ]:
mult1=(123,)
print(type(mult1))

In [ ]:
mt1=('a',[1,1,1])
mt1[1]
mt1[1][2]=2
print(mt1)

# Tuple functions

In [ ]:
#concatanation,repetiion ,
# in membership operator 
#slicing same as in strings

In [ ]:
dir(tuple)

In [ ]:
mt2=(2,4,6,7,8,9,3)
print(max(mt2))
mn=min(mt2)
print(mn)
mylist2=list(mt2)
mylist2.append(20)
mylist2.append(2)
mt3=tuple(mylist2)
print(mt3)
type(mt3)

# PYthon disctionary  key value pairs

In [ ]:
#disctionary is stored in back end as hash table 
md1={'empname':'Jitendra','manager':'ketan','location':'BLR','coreskills':'devops'}
md1['subject']="CS"
md1

In [ ]:
print(dir(dict))

In [4]:
#disctionary is stored in back end as hash table 
md1={'empname':'Jitendra','manager':'ketan','location':'BLR','coreskills':'devops'}
md1['subject']="CS"
md1
list1=list(md1.keys())
#list1[2]
list1

['empname', 'manager', 'location', 'coreskills', 'subject']

In [ ]:
md1={'empname':'Jitendra','manager':'ketan','location':'BLR','coreskills':'devops'}
list2=list(md1.items())
list2[1]

In [ ]:
md1={'empname':'Jitendra','manager':'ketan','location':'BLR','coreskills':'devops'}
md1.get('empname')
print(md1.get('city'))
#defaults to None if Key does not match

In [ ]:
md1={'empname':'Jitendra','manager':'ketan','location':'BLR','coreskills':'devops'}
md1.get('empname')
print(md1.get('city'))

In [ ]:
md1={'empname':'Jitendra','manager':'ketan','location':'BLR','coreskills':'devops'}
md1.get('empname')
print(md1.get('city'))

In [ ]:
md1={'empname':'Jitendra','manager':'ketan','location':'BLR','coreskills':'devops'}
md1.setdefault('empname')
md1
md1.setdefault('country')
md1

In [ ]:
md1={'bank':'sbi','branch':'mgroad'}

md2={'bank':'axis','city':'blr'}

md1.update(md2)
md1

In [ ]:
keylist = ['bank','branch',"city"]
valuelist = ['sbi','mgroad','mumbai']
z = zip(keylist,valuelist)
print(type(z))
#zip object is one time consumable , iterators 
zlist=list(z)
print(list(z))
zlist

In [ ]:
keylist = ['bank','branch',"city"]
valuelist = ['sbi','mgroad','mumbai']
md2=dict(zip(keylist,valuelist))
md2.get('bank')

# Sets

In [ ]:
ms1=set()
type(ms1)
ms1.add(20)
#print(dir(ms1))

ms1.add(2)
ms1.add(3)
ms1.pop()
ms1.remove(25)

In [ ]:
ms1 = {2,4,6,8,9}
ms2 = {1,2,4,7,5}
ms1.union(ms2)

In [ ]:
ms1.intersection(ms2)
#set theory read

In [ ]:
print(ms1-ms2)

In [ ]:
print(ms2-ms1)