In [1]:
!pip install --upgrade category_encoders

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder,LabelEncoder
import category_encoders as ce

Defaulting to user installation because normal site-packages is not writeable
Collecting category_encoders
  Downloading category_encoders-2.6.1-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 KB 1.4 MB/s eta 0:00:00[31m2.1 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.14.0 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from category_encoders) (1.25.0)
Requirement already satisfied: pandas>=1.0.5 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from category_encoders) (2.0.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from category_encoders) (1.2.2)
Requirement already satisfied: patsy>=0.5.1 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scipy>=1.0.0 in /usr/lib/python3/dist-packages (from category_encoders) (1.8.0)
Requirement already satisfied: statsmodels>=0.9.0 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/sagarikaborah/.local/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/lib/python3/dist-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.1

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df= pd.read_csv('df_pre.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [3]:
target=df['price']

In [4]:
df.shape

(201, 26)

In [5]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [6]:
cat_df=df.select_dtypes(include= object)
num_df=df.select_dtypes(include= np.number)

In [7]:
num_df.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [8]:
cat_df['price']=target

In [9]:
cat_df.dtypes

make                 object
fuel-type            object
aspiration           object
num-of-doors         object
body-style           object
drive-wheels         object
engine-location      object
engine-type          object
num-of-cylinders     object
fuel-system          object
price               float64
dtype: object

In [10]:
#Approach 1 :  Find and Replace
# num-of-doors and num-of-cylinders
enc1={"num-of-doors":{'four':4, 'two':2},
      "num-of-cylinders":{'four':4,  'six':6, 'five':5, 'eight':8 , 'two':2  , 'twelve':12,   'three':3}}

In [11]:
cat_df=cat_df.replace(enc1)

In [12]:
cat_df.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,price
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,13495.0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,16500.0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,16500.0
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi,13950.0
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi,17450.0

In [13]:
# approach 2: Get_dummies

In [14]:
cat_df=pd.get_dummies(cat_df, columns=['aspiration','engine-location'],drop_first=True)
cat_df.head()

,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-type,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear
0,alfa-romero,gas,2,convertible,rwd,dohc,4,mpfi,13495.0,False,False
1,alfa-romero,gas,2,convertible,rwd,dohc,4,mpfi,16500.0,False,False
2,alfa-romero,gas,2,hatchback,rwd,ohcv,6,mpfi,16500.0,False,False
3,audi,gas,4,sedan,fwd,ohc,4,mpfi,13950.0,False,False
4,audi,gas,4,sedan,4wd,ohc,5,mpfi,17450.0,False,False

In [15]:
cat_df.shape

(201, 11)

In [16]:
# Approach 3: One hot encoding

In [17]:
cat_df['fuel-type'].value_counts()

fuel-type
gas       181
diesel     20
Name: count, dtype: int64

In [18]:
cat_df[['fuel-type']]

    fuel-type
0         gas
1         gas
2         gas
3         gas
4         gas
..        ...
196       gas
197       gas
198       gas
199    diesel
200       gas

[201 rows x 1 columns]

In [19]:
enc3=OneHotEncoder()
encode_df3= pd.DataFrame(enc3.fit_transform(cat_df[['fuel-type']]).toarray(), columns=['gas','diesel'])
cat_df=pd.concat([cat_df,encode_df3], axis=1)
cat_df.head()

,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-type,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear,gas,diesel
0,alfa-romero,gas,2,convertible,rwd,dohc,4,mpfi,13495.0,False,False,0.0,1.0
1,alfa-romero,gas,2,convertible,rwd,dohc,4,mpfi,16500.0,False,False,0.0,1.0
2,alfa-romero,gas,2,hatchback,rwd,ohcv,6,mpfi,16500.0,False,False,0.0,1.0
3,audi,gas,4,sedan,fwd,ohc,4,mpfi,13950.0,False,False,0.0,1.0
4,audi,gas,4,sedan,4wd,ohc,5,mpfi,17450.0,False,False,0.0,1.0

In [20]:
# Approach 4: Label encoding

In [21]:
cat_df['body-style']=cat_df['body-style'].astype('category')
cat_df.dtypes

make                      object
fuel-type                 object
num-of-doors               int64
body-style              category
drive-wheels              object
engine-type               object
num-of-cylinders           int64
fuel-system               object
price                    float64
aspiration_turbo            bool
engine-location_rear        bool
gas                      float64
diesel                   float64
dtype: object

In [22]:
cat_df['body-style']=cat_df['body-style'].cat.codes
cat_df.head()

,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-type,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear,gas,diesel
0,alfa-romero,gas,2,0,rwd,dohc,4,mpfi,13495.0,False,False,0.0,1.0
1,alfa-romero,gas,2,0,rwd,dohc,4,mpfi,16500.0,False,False,0.0,1.0
2,alfa-romero,gas,2,2,rwd,ohcv,6,mpfi,16500.0,False,False,0.0,1.0
3,audi,gas,4,3,fwd,ohc,4,mpfi,13950.0,False,False,0.0,1.0
4,audi,gas,4,3,4wd,ohc,5,mpfi,17450.0,False,False,0.0,1.0

In [23]:
cat_df['fuel-system'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [24]:
enc4= LabelEncoder()
cat_df['fuel-system']= pd.DataFrame(enc4.fit_transform(cat_df['fuel-system']))
cat_df['fuel-system']

0      5
1      5
2      5
3      5
4      5
      ..
196    5
197    5
198    5
199    3
200    5
Name: fuel-system, Length: 201, dtype: int64

In [25]:
cat_df.head()

,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-type,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear,gas,diesel
0,alfa-romero,gas,2,0,rwd,dohc,4,5,13495.0,False,False,0.0,1.0
1,alfa-romero,gas,2,0,rwd,dohc,4,5,16500.0,False,False,0.0,1.0
2,alfa-romero,gas,2,2,rwd,ohcv,6,5,16500.0,False,False,0.0,1.0
3,audi,gas,4,3,fwd,ohc,4,5,13950.0,False,False,0.0,1.0
4,audi,gas,4,3,4wd,ohc,5,5,17450.0,False,False,0.0,1.0

In [26]:
cat_df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [27]:
# approach 5: ordinal encoding
enc5=OrdinalEncoder(categories=[['4wd','rwd','fwd']])
cat_df['drive-wheels']=enc5.fit_transform(cat_df['drive-wheels'].values.reshape(-1,1))
cat_df.head()

,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-type,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear,gas,diesel
0,alfa-romero,gas,2,0,1.0,dohc,4,5,13495.0,False,False,0.0,1.0
1,alfa-romero,gas,2,0,1.0,dohc,4,5,16500.0,False,False,0.0,1.0
2,alfa-romero,gas,2,2,1.0,ohcv,6,5,16500.0,False,False,0.0,1.0
3,audi,gas,4,3,2.0,ohc,4,5,13950.0,False,False,0.0,1.0
4,audi,gas,4,3,0.0,ohc,5,5,17450.0,False,False,0.0,1.0

In [28]:
# approach 5: Target encodong

In [29]:
cat_df['make'].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
chevrolet         3
alfa-romero       3
jaguar            3
isuzu             2
renault           2
mercury           1
Name: count, dtype: int64

In [30]:
#using group by
# This kind of target encoding is sometimes called a mean encoding. Applied to a binary target, it's also called bin counting. (Other names you might come across include: likelihood encoding, impact encoding, and leave-one-out encoding.)
cat_df['make_target_encode']=cat_df.groupby('make')['price'].transform('mean')
cat_df[['make','price','make_target_encode']]

            make    price  make_target_encode
0    alfa-romero  13495.0        15498.333333
1    alfa-romero  16500.0        15498.333333
2    alfa-romero  16500.0        15498.333333
3           audi  13950.0        17859.166667
4           audi  17450.0        17859.166667
..           ...      ...                 ...
196        volvo  16845.0        18063.181818
197        volvo  19045.0        18063.181818
198        volvo  21485.0        18063.181818
199        volvo  22470.0        18063.181818
200        volvo  22625.0        18063.181818

[201 rows x 3 columns]

In [31]:
#stat=cat_df['price].groupby(cat_df['make']).agg(['count', 'mean'])
#stat

In [32]:
target_make=ce.TargetEncoder()
cat_df['target_enc2']=target_make.fit_transform(cat_df['make'], cat_df['price'])
cat_df['target_enc2']

0      13561.040783
1      13561.040783
2      13561.040783
3      14127.377285
4      14127.377285
           ...
196    14610.773734
197    14610.773734
198    14610.773734
199    14610.773734
200    14610.773734
Name: target_enc2, Length: 201, dtype: float64

In [33]:
cat_df.head()

,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-type,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear,gas,diesel,make_target_encode,target_enc2
0,alfa-romero,gas,2,0,1.0,dohc,4,5,13495.0,False,False,0.0,1.0,15498.333333,13561.040783
1,alfa-romero,gas,2,0,1.0,dohc,4,5,16500.0,False,False,0.0,1.0,15498.333333,13561.040783
2,alfa-romero,gas,2,2,1.0,ohcv,6,5,16500.0,False,False,0.0,1.0,15498.333333,13561.040783
3,audi,gas,4,3,2.0,ohc,4,5,13950.0,False,False,0.0,1.0,17859.166667,14127.377285
4,audi,gas,4,3,0.0,ohc,5,5,17450.0,False,False,0.0,1.0,17859.166667,14127.377285

In [34]:
# approach 6: Frequency encoding

Frequency Encoding
It is a way to utilize the frequency of the categories as labels. In the cases where the frequency is related somewhat with the target variable, it helps the model to understand and assign the weight in direct and inverse proportion, depending on the nature of the data. Replace the categories with the count of the observations that show that category in the dataset. Similarly, we can replace the category by the frequency -or percentage- of observations in the dataset.

It can help if frequency correlates with the target and also, it can help the model to understand that smaller categories are less trustworthy than bigger ones, especially when frequency encoding is used parallel with other types of encoding.

Advantages of Count or Frequency encoding

Straightforward to implement.
Does not expand the feature space.
Can work well with tree-based algorithms.

Limitations of Count or Frequency encoding

Does not handle new categories in the test set automatically.
We can lose valuable information if there are two different categories with the same amount of observations count—this is because we replace them with the same number.

In [35]:
cat_df['engine-type'].value_counts()

engine-type
ohc      145
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
Name: count, dtype: int64

In [36]:
freq=(cat_df.groupby('engine-type')['price'].size())/len(cat_df)
cat_df['freq_enc_engine_type']= cat_df['engine-type'].map(freq)
cat_df['freq_enc_engine_type'].head()

0    0.059701
1    0.059701
2    0.064677
3    0.721393
4    0.721393
Name: freq_enc_engine_type, dtype: float64

In [37]:
cat_df.drop(['make','fuel-type','engine-type'], axis=1,inplace=True)

In [38]:
cat_df.head()

,num-of-doors,body-style,drive-wheels,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear,gas,diesel,make_target_encode,target_enc2,freq_enc_engine_type
0,2,0,1.0,4,5,13495.0,False,False,0.0,1.0,15498.333333,13561.040783,0.059701
1,2,0,1.0,4,5,16500.0,False,False,0.0,1.0,15498.333333,13561.040783,0.059701
2,2,2,1.0,6,5,16500.0,False,False,0.0,1.0,15498.333333,13561.040783,0.064677
3,4,3,2.0,4,5,13950.0,False,False,0.0,1.0,17859.166667,14127.377285,0.721393
4,4,3,0.0,5,5,17450.0,False,False,0.0,1.0,17859.166667,14127.377285,0.721393

In [39]:
df_preprocessed=pd.concat([cat_df, num_df], axis=1)
df_preprocessed.head()

,num-of-doors,body-style,drive-wheels,num-of-cylinders,fuel-system,price,aspiration_turbo,engine-location_rear,gas,diesel,...,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,2,0,1.0,4,5,13495.0,False,False,0.0,1.0,...,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,2,0,1.0,4,5,16500.0,False,False,0.0,1.0,...,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,2,1.0,6,5,16500.0,False,False,0.0,1.0,...,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,4,3,2.0,4,5,13950.0,False,False,0.0,1.0,...,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,3,0.0,5,5,17450.0,False,False,0.0,1.0,...,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [40]:
from google.colab import files
df_preprocessed.to_csv('preprocess.csv', encoding = 'utf-8-sig', index=None)
files.download('preprocess.csv')

ModuleNotFoundError: No module named 'google.colab'