In [10]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Check if the index has a name
print(df.index.name)

# Assign a name to the index
df.index.name = 'index_name'

# Check again
print(df.index.name)
df

None
index_name

            A  B
index_name
0           1  4
1           2  5
2           3  6

SyntaxError: positional argument follows keyword argument (2282434958.py, line 1)