## Table of Content

1. **[Sampling](#sample)**
2. **[Parameter Estimation](#est)**
3. **[ Hypothesis Testsing (SIngle Sample, Two Sample (Z&T test)](#Hyt)**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import random
import scipy.stats as st
import math

<a id="sample"></a>
## 1. Sampling

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A farmer has planted 98 tomato plants last year. He has numbered each plant with numbers 1,2,...98. Now he wants to study the growth of the plants. Help the farmer to select 12 plants randomly as a sample for the study using an appropriate sampling technique.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
lt = [i for i in range(1,99)]
smple = random.sample(population = lt, k = 12)
smple

[79, 7, 81, 37, 84, 97, 17, 33, 16, 8, 87, 67]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Ron found gold, silver and copper coin on his way home. He asked 10 people to choose a coin randomly. He then created a list of coins chosen by each individual. Find one of the possible sample space for this experiment. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
lt = ['bronze','silver','gold']
smple = random.choices(population = lt, k = 10)
smple

['bronze',
 'silver',
 'bronze',
 'silver',
 'gold',
 'gold',
 'bronze',
 'bronze',
 'silver',
 'gold']

<a id = "est"> </a>
## 2. Parameter Estimation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The quality controller at the automobile company needs to know the average length of a steel rod produced in the company. He managed to collect the length (in cm) of 15 rods produced in the last week. Find the point estimate for the average length of the steel rod using sample data. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        len_rod (cm) = [25.2, 26.3, 28, 21.9, 23.4, 24, 27.2, 23, 29.2, 28.7, 23.1, 23.5, 26.4, 22.8, 24.7]

In [6]:
l_rod = [25.2, 26.3, 28, 21.9, 23.4, 24, 27.2, 23, 29.2, 28.7, 23.1, 23.5, 26.4, 22.8, 24.7]
np.mean(l_rod)

25.16

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The production manager at the automobile company states that all the steel rods are produced with an average length of 26 cm. Use the data given in the previous question and calculate the sampling error for the mean.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        len_rod (cm) = [25.2, 26.3, 28, 21.9, 23.4, 24, 27.2, 23, 29.2, 28.7, 23.1, 23.5, 26.4, 22.8, 24.7]

In [7]:
l_rod = [25.2, 26.3, 28, 21.9, 23.4, 24, 27.2, 23, 29.2, 28.7, 23.1, 23.5, 26.4, 22.8, 24.7]
mean_real = 26
samp_mean = np.mean(l_rod)
samp_mean - mean_real

-0.8399999999999999

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. The NY university has opened the post of Astrophysics professor. The total number of applications was 36. To check the authenticity of the applicants a sample of 10 applications was collected, out of which 3 applicants were found to be a fraud. Estimate the number of fraud applicants from all the applications.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
pro_frd = 3/10
ch = 36 * pro_frd
ch

10.799999999999999

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. A paediatrician wants to check the amount of sugar in the 100g pack of baby food produced by KidsGrow company. The medical journal states that a standard deviation of sugar in 100g pack is 8g. The paediatrician collects 37 packets of baby food and found that the average sugar is 24g. Find the 90% confidence interval for the population mean.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
alpha = 0.1

n = 37
sigma = 8
xbar = 24

z_alpha = st.norm.isf(alpha/2)
std_error = sigma/(np.sqrt(n)
st.norm.interval(0.9,xbar,std_error)

(21.83670183570907, 26.16329816429093)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The health magazine in Los Angeles states that a person should drink 1.8 L water every day. To study this statement, the physician collects the data of 15 people and found that the average water intake for these people is 1.6 L with a standard deviation of 0.5 L. Calculate the 90% confidence interval for the population average water intake.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
alpha = 0.1

n =15
xbar = 1.6
sigma = 0.5

z = st.norm.isf(alpha/2)
std_error = sigma/(np.sqrt(n))
st.norm.interval(0.9,xbar,std_error)

(1.3876503098622694, 1.8123496901377307)

<a id = "Hyt"> </a>
## 3. Hypothesis Testsing (SIngle Sample, Two Sample (Z&T test)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The temperature (in degree Celsius) at Manhattan is recorded for 45 winter days. A student from the Geography department wants to test the claim proposed by the weather department. Check whether the given data satisfies the condition of normality with 99% confidence. The weather department claims that the average temperature in Manhattan is less than 2.8 degree celsius in winter. Conduct an hypothesis test to test about the claim  with 99% confidence(alpha =1% or .01)?</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    temp_winter =  [2.51, 2.6, 1.8, 2.61, 3.9, 1.7, 1.9, 3.1, 1.58, 2.85, 2.9, 1.25, 1.3, 2.4, 3.22, 2.56, 1.32, 1.2, 1.26, 
                    3.2, 2.7, 3.5, 2.8, 1.5, 3.8, 1.84, 3.31, 1.24, 1.75, 1.41, 1.57, 1.4, 1.49, 2.26, 2.5, 2.52, 3.42, 1.36, 
                    2.35, 2.47, 2.28, 2.22, 2.66, 3.43, 1.98]

In [2]:
temp_winter =  [2.51, 2.6, 1.8, 2.61, 3.9, 1.7, 1.9, 3.1, 1.58, 2.85, 2.9, 1.25, 1.3, 2.4, 3.22, 2.56, 1.32, 1.2, 1.26, 
                3.2, 2.7, 3.5, 2.8, 1.5, 3.8, 1.84, 3.31, 1.24, 1.75, 1.41, 1.57, 1.4, 1.49, 2.26, 2.5, 2.52, 3.42, 1.36, 
                2.35, 2.47, 2.28, 2.22, 2.66, 3.43, 1.98]

# H0 : Avg temp >= 2.8
# H1 : Avg temp < 2.8

alpha = 0.01
xcar = 2.8
n = len(tmp_winter)
xbar = np.mean(tmp_winter)
std = np.std(tmp_winter, ddof=1)

# Calculate the t-statistic
t_stats = (xbar - xcar) / (std / np.sqrt(n))

# p-value 
p_value = st.t.cdf(t_stats, n-1)
p_value

2.9913626202358064e-05

In [3]:
t_stats

-4.439552007491998

In [5]:
# Since p-value < alpha(0.01) reject the hypothesis at 1% level of significance

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The production manager at the automobile company states that all the steel rods are produced with an average length of 26 cm and a standard deviation of 2.4 cm. The length of 60 rods is collected as a sample and the average length of these rods is found to be 24.8 cm. Test whether the length of the rod is different than 26 cm with a 95% confidence interval. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# Null Hypothesis (H0): The average length of the rods is 26 cm.
# Alternative Hypothesis (H1): The average length of the rods is not equal to 26 cm (two-tailed test).

alpha = 0.05

# Given data
pop_mean = 26  # Population mean
pop_std = 2.4  # Population standard deviation
sample_size = 60
sample_mean = 24.8  # Sample mean

standard_error = pop_std / math.sqrt(sample_size)

z = (pop_mean - sample_mean) / standard_error

p = 2* st.norm.sf(z)
print("p-value: ",p)

# Make a decision
if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

p-value:  0.00010751117672950135
Reject the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. The bank manager claims that the complaints regarding fraud transactions are less than 12 per month with a standard deviation of 3 frauds. To test the claim the sample data for 3 years is collected. The average number of frauds in sample data is 10. Conduct an hypothesis test to test about the claim  with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# H0: Faurd transaction >= 12 per month
# H1: Faurd transaction < 12 per month

alpha = 0.05

mu1 = 12
mu2 = 10
sd = 3
n = 3*12

z = (mu2 - mu1) / (sd/ math.sqrt(n))

p = st.norm.cdf(z)
print("p-value: ",p)

# decision time
if p < alpha:
    print("Rejects the null hypothesis")
else:
    print("Fails to reject the null hypothesis")

p-value:  3.167124183311986e-05
Reject the null hypothesis

In [13]:
z

4.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. The quality assurance department has collected 15 packets of potato chips. The department wants to test the average weight of the packets. Check whether they can use the one sample t-test for the population mean with 95% confidence, if so Use the weight of the potato chips packets given  and test whether the average weight of packet is more than 30 g. (Use 10% level of significance) .</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [38]:
#H0: Weight of pack <= 30g
#H1: Weight of pack > 30g

alpha = 0.1
    
n = 15
mu = 30

pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]
x_bar = np.mean(pack_wt) 
sd = np.std(pack_wt)

#check normality 
k2 , p = st.normaltest(pack_wt)

if p < alpha:
    print('data is not normally distributed')
else:
    print('data is normally distributed')

# Perform a one-sample t-test
t , p = st.ttest_1samp(pack_wt,mu)

# Calculate degrees of freedom
degrees_of_freedom = len(pack_wt) - 1

# Find the critical t-value for the upper tail at the 90% confidence level
critical_t = st.t.ppf(1 - alpha, degrees_of_freedom)

print("p-value: ",p)
print("critical value",critical_t)

# Make a decision based on the p-value
if p_value < alpha:
    print("reject the  hypothesis")
else:
    print("fail to reject  null hypothesis")

Data is normally distributed
p-value:  0.28136576255640705
critical value 1.345030374454649
Reject the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. The orthopaedic surgeon states that a T-score for females older than 30 years is less than -1.2 which indicates the low bone density. To test the claim a sample of 10 women was selected and the average T-score was found to be -1.34 with a standard deviation of 0.8. Test the surgeon's claim using a critical value method with 95% confidence. (Assume the normality of the T-score). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
# H0: bone density => -1.2
# H1: bone density < 1.2

# Sample data
sample_mean = -1.34
sample_stddev = 0.8
sample_size = 10
pop_mean = -1.2  # Null hypothesis mean

# Calculate the t-statistic
t_statistic = (sample_mean - pop_mean) / (sample_stddev / (sample_size**0.5))

# Set the significance level
alpha = 0.05

# Find the critical t-value for a one-tailed test
degrees_of_freedom = sample_size - 1
critical_t_value = st.t.ppf(1 - alpha, df=degrees_of_freedom)

# Print the results
print("t-statistic:", t_statistic)
print("Critical t-value:", critical_t_value)

# Perform the hypothesis test
if t_statistic < critical_t_value:
    print("Reject  null hypothesis")
else:
    print("Fail to reject  null hypothesis")

t-statistic: -0.5533985905294669
Critical t-value: 1.8331129326536335
Reject the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [24]:
# H0: Harry times >= Rons times
# H1: Harry times > Rons times

alpha = 0.10

harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

diff = np.array(harry) - np.array(ron)

t , p = st.ttest_1samp(diff, 0)

alpha = 0.10
df = len(diff) - 1
CV = st.t.ppf(1-alpha , df)

print("Critical Value Method:")
print("t-statistic:", t)
print("Critical t-value:", CV)

if t < CV:
    print("reject the null hypothesis")
else:
    print("fail to reject the null hypothesis")

    
print("\nP-Value Criteria:")
print("p-value:", p)
print("alpha:", alpha)

if p < alpha:
    print("reject the null hypothesis")
else:
    print("fail to reject the null hypothesis")

Critical Value Method:
t-statistic: -2.851039631082809
Critical t-value: 1.4397557472577693

Reject the null hypothesis

P-Value Criteria:
p-value: 0.029141870402151777
alpha: 0.1

Reject the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. The sales manager at a car showroom claims that the cars in the showroom have average mileage per gallon (mpg) more than 18 mpg. Use the given dataset to test the manager's claim at 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [15]:
df = pd.read_csv('cars.csv')
df.head()

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,M,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,M,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,M,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,A,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,A,3,2

In [23]:
# H0: Average milage < 18
# H1: Average milage > 18

alpha = 0.1

mu = 18
df_list = list(df['mpg']) 

t , p = st.ttest_1samp(df_list, mu)

if p < alpha:
    print("reject the null hypothesis")
else:
    print("fail to reject the null hypothesis")

Reject the null hypothesis