In [ ]:
# trying to do practis

In [ ]:
# How to Make comments 
print('welcome to newyork stock exchange')

In [ ]:
# How to Make comments 
#print('welcome to newyork stock exchange')
print('Skipped to line two , this is line 2')

In [ ]:
# How to Make comments 
#print('welcome to newyork stock exchange')
print('Skipped to line two #  , this is line 2')

In [ ]:
exchange = 'abc' print(abc)

In [ ]:
exchange = 'abc'; print(exchange)

In [ ]:
#paragraphs are represented using tripple inverted single quotes.

abc = 10 
'''



adfadfdsfs

'''

print(abc)
#pragraph is a variable looking for object of class string
#if you do not assign a pragraph to a variable then it will be taken as block comments

In [ ]:
n1=20
n1
print(n1)

In [ ]:
#python Variable type
a = 'abc'
print(type(a))
b = '10'
print(type(b))
c = 10
print(type(c))

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
#indentation of code block in python
a=10
print(type(a))
while a < 15:
    print(a+1)
    a =a+1

In [ ]:
# read sensor and turn off or on motore
sensor = 1 
if(sensor ==0):
    print('switch on moter , water is low')
else: 
    print('switch off moter , water is Full')

In [ ]:
import keyword

In [ ]:
print(keyword.kwlist)

In [ ]:
#value assignmentss
myint1=20
myint3='20'
myint2=int(20)
print(type(myint1))
print(type(myint2))
print(type(myint3))
print(id(myint1))

In [ ]:
var1=('10','20','pythong')
print(type(var1))
print(var1[0])

In [ ]:
a = b = c = 20000
print(id(a))
print(id(b))
print(id(c))
a = 2345
c = 2345
b = 2345
print(id(a))
print(id(b))
print(id(c))

In [ ]:
a , b , c = 20 , 'hellow', 'ram'
print(a)
print(b)
print(c)

In [ ]:
# Taking data from keyboard
a = str(input('kindly provide your username'))
b = str(input('kindly provide your DOB '))
print('kindly confirm your username is {} and DOB is {}',a,b )

In [ ]:
#operators
x = 26 
y =  5
p = x * y
q = x / y
r = x % y 
print(p)
print(q)
print(r)

In [ ]:
# Functions in python
def examresult():
    marks = int(input('please provide your marks'))
    if marks > 30:
        print("badhai ho pass ho gya tu to ")
        if marks > 80:
            print('wo bhi distinction ke sath')
        else:
            print("normal number se pass ho gya bhai")
    else: 
        print("haramkhor padhai nhi karta fail ho gya na ")
examresult()

In [ ]:
# Functions in python
def examresult():
    marks = int(input('please provide your marks'))
    if marks > 30:
        print("badhai ho pass ho gya tu to ")
        if marks > 80:
            print('wo bhi distinction ke sath')
        else:
            print("normal number se pass ho gya bhai")
    else: 
        print("haramkhor padhai nhi karta fail ho gya na ")
examresult()

In [ ]:
def mf1():
    p0 = int(input('provide p0'))
    b = p0 + 4
   
    print(p0)
    return b 
mf1()

In [ ]:
# Decision & Branching 
# Build in data structures
def tempcheck():
    temp = int(input('provie what is temp feels like   : '))
    if temp > 90:
        print('its pretty hot out there')
    elif temp < 30:
        print('its pretty cold out there')
    else: 
        print('its normal temp out side')
tempcheck()

In [ ]:
#String Data Type
#Strings are inmutable in memory
# use len to know lenth of string

ms1= 'python data'
print(type(ms1))
print(len(ms1))
print(ms1[2])
for i in range (len(ms1)):
    print(ms1[i])

In [ ]:
#concatanation and MemberShip
accounts = ['1234','5646','5648']
print(type(accounts))
print(accounts)
ac = input('provide your account number')
if ac in accounts:
    print('u are my customers')
else:
    print('would you like to open a new account with us')

In [ ]:
print(dir(str))
help(str.replace)

In [ ]:
ms1= 'hello'
ms2 = ms1[0:1:]
print(ms1.capitalize())
help(str.capitalize)

In [ ]:
ms1 = 'hellow'
ms2 = ms1[:]
print(id(ms2))
print(id(ms1))

In [ ]:
ms1 = 'sich rich kich'
ms2 = ms1.replace('ch','ng',3)
print(ms2)
help(str.replace)

In [ ]:
# find and replace Methods
mystr1= "nationalexchange"
index=mystr1.find('g')
print(mystr1.count('a'))
help(str.count)

In [ ]:
##Split & Join
ms1= "world health organization geneva"
ms1.split()
ms1.split(' ',2)
ms1.split(' ',2)
ms2 = 'jitendra_kumars_singh_resume'
ms2.split('_',4)
str= ['national','stock','exchange']
nstr = '_'.join(str)
print(nstr)
help(str.join)

In [ ]:
## Python way of printing

average = 98.31
sub = 'pysics'
num = 50
#index data
print('average marks in {} of {} student is {}'.format(num,sub,average))
#index constrains
print('average marks in {0:s} of {1:d} student is {2:.2f}'.format(sub,num,average))
print('average marks in {:s} of {:d} student is {:.2f}'.format(sub,num,average))

In [ ]:
# Format : 
#help(format)
help('FORMATTING')

In [ ]:
for i in range(1,30,4):
    print('{:^40}'.format('@'*i))

In [ ]:
# escalape sequences
print('nse \nmumbai \nJapan \nDelhi')
print('c:\\tiger')
print('\njapan')

In [ ]:
#LIsts
mylist1=list('jitendra')
mylist1
for i in range(len(mylist1)):
    print(mylist1[i])
mylist2=list('divya')

In [ ]:
#matrix representation : 
matrix34 = [[11,12,13,14],[15,16,17,18],[19,20,21,22]]
matrix34[-1][0]

In [ ]:

mylist1=[2,4,6,8,0]
mylist1
mylist2=[1,2,3]
mylist1.extend(mylist2)
mylist1
help(list.insert)
mylist1.insert(6,'abc')
print(mylist1)

In [ ]:
mylist1=[2,4,6,8,0]
mylist2=mylist1.copy()
print(type(mylist2))
help(list.copy)

In [ ]:
mylist1=list('python data cyclying')
print(mylist1.index('a'))
help(list.index)
print(mylist1)

In [ ]:

mylist2=list('banana')
mylist2.pop()
mylist2.count('a')
mylist2.index('a',3)
#help(list.pop)
mylist3=list('123')
max(mylist3)

In [3]:
mylist1= []
mylist1 = input('provide your values')
#inputs('provide your values')
print(max(mylist1))

provide your values11,22,33,44,
4

In [14]:
#Sorting the list 
mylist1=[2,4,6,8,10,12,14]
mylist1.sort(reverse=False)
mylist1

[2, 4, 6, 8, 10, 12, 14]

In [15]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [22]:
mult1=(123,21,25,1,[1,1,1])
print(mult1)
print(mult1[4])

(123, 21, 25, 1, [1, 1, 1])
[1, 1, 1]

In [31]:
mytup=(1,2,1,3,4,5.6)
mytup.count(1)

2

In [32]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [53]:
mt2=(2,4,6,7,8,9,3)
ml3=list(mt2)
ml3.append(2)
ml3
ab=tuple(ml3)
ab

(2, 4, 6, 7, 8, 9, 3, 2)

In [165]:
#pythong disctionaries 

md1 = {'empname':'jitendra','empid':'1234','manager':'Ketan','location':'BLR','skill':'devops'}
md1.setdefault('raja','nana')
md1.get('raja')

'nana'

In [172]:
md1 = {'empname':'jitendra','empid':'1234','manager':'Ketan','location':'BLR','skill':'devops'}
md2 = {'bankname':'sbi','branch':'mgroad'}
md1.update(md2)
mdlist=list(md1.keys())
mdlist[0]

'empname'

In [187]:
keylist=['name','empid','city']
valuelist=['jitendra','12345','Pune']
z = dict(zip(keylist,valuelist))
x = list(z)
x

['name', 'empid', 'city']

In [192]:
ms1={2,4,5,6}
ms2={1,2,3,4,6}
ms1.union(ms2)

{1, 2, 3, 4, 5, 6}