# Numpy

In [1]:
#Numarical Python 
# general purpose Array processosing python 
# Numpy : numbers based access
#pandas : full access , Internally stores in numpy array only. 
# Numpy , pandas, matplolib , Seaborn

In [2]:
#Numpy is core library for scintific computing in python , Gereral purpse array processing package.

In [3]:
# Axis --->>>>> ID Array , 2 D Array , 3 D Array 
# Shape(4) shape (2,3) shape(4,3,2) can be N dimensions as every new catagory gives you new dimension

# Creation of matrix

In [23]:
import numpy as np
mylist1 = [11,22,33,44,55,66]
n1 = np.array(mylist1)
print(n1)
print(n1.size)
print(n1.shape)
print(n1)
print(n1.dtype) # is importent
print(n1.itemsize)

[11 22 33 44 55 66]
6
(6,)
[11 22 33 44 55 66]
int64
8

In [28]:
import numpy as np
mylist1 = [11,22,33,44,55,66]
n1 = np.array(mylist1,dtype=int)
print(n1)
print(n1.size)
print(n1.shape)
print(n1)
print(n1.dtype)
print(n1.itemsize)

[11 22 33 44 55 66]
6
(6,)
[11 22 33 44 55 66]
int64
8

In [37]:
# create Manual array 
list2= [
    [11,22,33],
    [44,55,66]
]
import numpy as np
n1 = np.array(list2,dtype=int)
print(n1)
print(n1.size)
print(n1.shape)
print(n1)
print(n1.dtype)
print(n1.itemsize)

[[11 22 33]
 [44 55 66]]
6
(2, 3)
[[11 22 33]
 [44 55 66]]
int64
8

In [44]:
#create 3 d Array 
list3 = [
    [[111,121],[141,151],[171,181]],
    [[211,221],[241,251],[271,281]],
    [[311,321],[341,351],[371,381]],
    [[411,421],[441,451],[471,481]],
]
import numpy as np
n2 = np.array(list3,dtype=int)
print(n2)
print(n2.size)
print(n2.shape)
print(n2)
print(n2.dtype)
print(n2.itemsize)

[[[111 121]
  [141 151]
  [171 181]]

 [[211 221]
  [241 251]
  [271 281]]

 [[311 321]
  [341 351]
  [371 381]]

 [[411 421]
  [441 451]
  [471 481]]]
24
(4, 3, 2)
[[[111 121]
  [141 151]
  [171 181]]

 [[211 221]
  [241 251]
  [271 281]]

 [[311 321]
  [341 351]
  [371 381]]

 [[411 421]
  [441 451]
  [471 481]]]
int64
8

# arange

In [57]:

sadf

NameError: name 'sadf' is not defined

In [62]:
n2 = np.arange(12)
n34 = n2.reshape(3,4)
n34

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [69]:
n5 = np.arange(12)
#arange always return 1d entitity which you could reshape using reshape Function

n1= np.arange(48)
n642= n1.reshape(6,4,-1)
n642.shape

In [75]:
np.random.seed(23)
n1 = np.random.randint(low=0,high=100,size=(48,))
print(n1.shape)
n1

(48,)

array([83, 40, 73, 54, 31, 76, 91, 39, 90, 25, 51,  6, 45, 12, 49, 66, 75,
       85, 69, 64, 12, 21, 48, 41, 79, 90, 62, 57, 19, 33, 59, 39, 15, 36,
       65,  1, 43, 15, 86, 83, 58, 25, 66, 74, 35, 96, 56, 13])

In [77]:
np.random.seed(23)
n1 = np.random.randint(low=0,high=100,size=(6,4))
print(n1.shape)
n1

(6, 4)

array([[83, 40, 73, 54],
       [31, 76, 91, 39],
       [90, 25, 51,  6],
       [45, 12, 49, 66],
       [75, 85, 69, 64],
       [12, 21, 48, 41]])

In [80]:
# Arthematics operations on Arran1 
n1 = np.arange(12)
print(n1)
n1 + 10

[ 0  1  2  3  4  5  6  7  8  9 10 11]

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21])

In [90]:
n34a = np.arange(12).reshape(3,4)
print(n34a)
n34b = np.arange(12).reshape(3,4)
print(n34b)
n34a + n34b

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

array([[ 0,  2,  4,  6],
       [ 8, 10, 12, 14],
       [16, 18, 20, 22]])

In [98]:
openprice = np.random.randint(low=0,high=100,size=(6,2))
closeprice = np.random.randint(low=0,high=100,size=(6,2))
volatility = closeprice - openprice
volatility

array([[ 28,   1],
       [ 12, -33],
       [ 52, -24],
       [ 11,   4],
       [ -5, -20],
       [ 56,  72]])

In [102]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89

array([[83, 40, 73, 54, 31, 76, 91, 39, 90],
       [25, 51,  6, 45, 12, 49, 66, 75, 85],
       [69, 64, 12, 21, 48, 41, 79, 90, 62],
       [57, 19, 33, 59, 39, 15, 36, 65,  1],
       [43, 15, 86, 83, 58, 25, 66, 74, 35],
       [96, 56, 13, 60, 22, 38, 31, 94, 78],
       [ 0, 21,  6, 32, 98, 32, 14, 31, 78],
       [83, 80, 70, 66, 82, 85, 55, 27, 62]])

In [104]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[0][0]

83

In [106]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[0,0] # loosely

83

In [107]:
#n89[row_index]
#n89[row_index,colum_index]

NameError: name 'row_index' is not defined

In [110]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[0,0] # loosely 
n89[1:6,3:6]

array([[45, 12, 49],
       [21, 48, 41],
       [59, 39, 15],
       [83, 58, 25],
       [60, 22, 38]])

In [112]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[0,0] # loosely 
n89[[0,2,3,-1,-2]]
#Grammer n89[[list of rows]]

array([[83, 40, 73, 54, 31, 76, 91, 39, 90],
       [69, 64, 12, 21, 48, 41, 79, 90, 62],
       [57, 19, 33, 59, 39, 15, 36, 65,  1],
       [83, 80, 70, 66, 82, 85, 55, 27, 62],
       [ 0, 21,  6, 32, 98, 32, 14, 31, 78]])

In [116]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[[0,1,2],[-3,-2,-1]]

array([91, 75, 62])

In [119]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[:,[2,5,6]]

array([[73, 76, 91],
       [ 6, 49, 66],
       [12, 41, 79],
       [33, 15, 36],
       [86, 25, 66],
       [13, 38, 31],
       [ 6, 32, 14],
       [70, 85, 55]])

In [126]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[1:5,[5]]#Grammer is impartant

array([[49],
       [41],
       [15],
       [25]])

# Conditional Access

In [130]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
#get all values > 15 
mask = n89 > 50
n89[mask]

array([83, 73, 54, 76, 91, 90, 51, 66, 75, 85, 69, 64, 79, 90, 62, 57, 59,
       65, 86, 83, 58, 66, 74, 96, 56, 60, 94, 78, 98, 78, 83, 80, 70, 66,
       82, 85, 55, 62])

In [135]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
#get all values > 15 
mask1 = n89 > 50
mask1

array([[ True, False,  True,  True, False,  True,  True, False,  True],
       [False,  True, False, False, False, False,  True,  True,  True],
       [ True,  True, False, False, False, False,  True,  True,  True],
       [ True, False, False,  True, False, False, False,  True, False],
       [False, False,  True,  True,  True, False,  True,  True, False],
       [ True,  True, False,  True, False, False, False,  True,  True],
       [False, False, False, False,  True, False, False, False,  True],
       [ True,  True,  True,  True,  True,  True,  True, False,  True]])

In [137]:
mask2 = n89 < 90
mask2

array([[ True,  True,  True,  True,  True,  True, False,  True, False],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True, False,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True],
       [False,  True,  True,  True,  True,  True,  True, False,  True],
       [ True,  True,  True,  True, False,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True]])

In [142]:
#bitwise 
mask = mask1 & mask2
mask 
n89[mask]

array([83, 73, 54, 76, 51, 66, 75, 85, 69, 64, 79, 62, 57, 59, 65, 86, 83,
       58, 66, 74, 56, 60, 78, 78, 83, 80, 70, 66, 82, 85, 55, 62])

In [147]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[ (n89 > 80) & (n89%2==0) ]

array([90, 90, 86, 96, 94, 98, 82])

In [158]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
n89[0]=100
n89[:,[5,7]]=20
n89[n89 > 80] = 2
n89

array([[ 2,  2,  2,  2,  2, 20,  2, 20,  2],
       [25, 51,  6, 45, 12, 20, 66, 20,  2],
       [69, 64, 12, 21, 48, 20, 79, 20, 62],
       [57, 19, 33, 59, 39, 20, 36, 20,  1],
       [43, 15,  2,  2, 58, 20, 66, 20, 35],
       [ 2, 56, 13, 60, 22, 20, 31, 20, 78],
       [ 0, 21,  6, 32,  2, 20, 14, 20, 78],
       [ 2, 80, 70, 66,  2, 20, 55, 20, 62]])

# Stacking of Num Py Arrays

In [167]:
n34 = np.arange(12).reshape(3,4)
n34

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [168]:
n36 = np.arange(100,118).reshape(3,6)
n36

array([[100, 101, 102, 103, 104, 105],
       [106, 107, 108, 109, 110, 111],
       [112, 113, 114, 115, 116, 117]])

In [170]:
n3_10 = np.hstack(tup=(n34,n36,n34))
n3_10

array([[  0,   1,   2,   3, 100, 101, 102, 103, 104, 105,   0,   1,   2,
          3],
       [  4,   5,   6,   7, 106, 107, 108, 109, 110, 111,   4,   5,   6,
          7],
       [  8,   9,  10,  11, 112, 113, 114, 115, 116, 117,   8,   9,  10,
         11]])

In [176]:
n34 = np.arange(12).reshape(3,4)
n34

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [181]:
n94 = np.arange(0,36).reshape(9,4)
n94

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35]])

In [182]:
n64 = np.arange(200,224).reshape(6,4)

In [191]:
n94=np.vstack(tup=(n64,n34))
n94
#row colums % Columes stacks

array([[200, 201, 202, 203],
       [204, 205, 206, 207],
       [208, 209, 210, 211],
       [212, 213, 214, 215],
       [216, 217, 218, 219],
       [220, 221, 222, 223],
       [  0,   1,   2,   3],
       [  4,   5,   6,   7],
       [  8,   9,  10,  11]])

# Splitting of arrays

In [194]:
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89

array([[ 3, 35, 21, 76, 57, 86, 81,  0, 68],
       [84, 21, 52, 72, 93, 21, 96, 60, 67],
       [99, 60,  9, 13, 81, 35,  6, 62, 71],
       [41, 47, 41, 88, 52, 97, 55, 58, 87],
       [81, 53, 48, 26, 48, 20, 51, 80, 15],
       [72,  9, 95, 67, 69, 16, 24, 92, 71],
       [47, 42, 87, 92, 49, 39,  5,  8, 52],
       [ 3,  4, 72, 80, 19,  8, 86, 92,  6]])

In [201]:
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
#vSplit
np.vsplit(n89,[2,2,3,1,1])

[array([[55, 10, 69, 53, 61, 88, 12, 86, 12],
        [61, 80,  5, 41,  5, 64, 27, 97, 73]]),
 array([[27, 96,  5,  7, 73, 31, 45, 65, 40],
        [35,  2, 81, 55, 18, 63, 91, 28, 51]]),
 array([[36, 24, 91,  7, 39, 99, 46, 27, 86],
        [31, 94, 69, 94, 66, 78, 16, 32, 40]]),
 array([[52, 15, 90, 78, 46, 96, 37, 56,  0],
        [88, 11, 45, 99, 61, 47, 42, 37, 48]])]

In [204]:
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
#vSplit
np.vsplit(n89,[2,3,6,7])
#unevent Split
# 2:3:6:7

[array([[92, 19, 76, 85, 33,  6, 33, 82, 42],
        [88, 81, 66, 86, 82, 31, 58, 17, 83]]),
 array([[32, 27, 69, 86, 83, 42, 89, 12, 77]]),
 array([[54,  8, 43, 29, 34,  6, 16, 10, 59],
        [78, 92, 20, 53, 71, 32, 49, 50, 52],
        [39, 12, 40, 16, 63, 14, 59,  4, 70]]),
 array([[39, 70, 14, 14, 24, 84, 56, 62, 14]]),
 array([[61, 98, 73, 79, 63, 49, 13, 63, 33]])]

In [207]:
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
#vSplit
np.hsplit(n89,[3,4,5])

[array([[49, 81, 33],
        [81, 54, 64],
        [39, 74, 99],
        [ 8, 45,  0],
        [53, 80,  8],
        [15, 21,  6],
        [88, 62, 68],
        [ 8, 69, 68]]),
 array([[38],
        [12],
        [57],
        [39],
        [93],
        [ 8],
        [60],
        [61]]),
 array([[10],
        [54],
        [95],
        [50],
        [45],
        [24],
        [ 3],
        [74]]),
 array([[28, 15,  5, 31],
        [73, 19, 14, 40],
        [97, 23, 52, 82],
        [10, 82, 23, 34],
        [57, 74, 62, 40],
        [25, 22, 94, 28],
        [ 2, 61, 64, 53],
        [31, 95, 60, 44]])]

In [214]:
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
#vSplit
ab = np.vsplit(n89,[3,4,5])
print(ab[0][0][0])

40

In [224]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))

In [227]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89

array([[83, 40, 73, 54, 31, 76, 91, 39, 90],
       [25, 51,  6, 45, 12, 49, 66, 75, 85],
       [69, 64, 12, 21, 48, 41, 79, 90, 62],
       [57, 19, 33, 59, 39, 15, 36, 65,  1],
       [43, 15, 86, 83, 58, 25, 66, 74, 35],
       [96, 56, 13, 60, 22, 38, 31, 94, 78],
       [ 0, 21,  6, 32, 98, 32, 14, 31, 78],
       [83, 80, 70, 66, 82, 85, 55, 27, 62]])

In [229]:
np.random.seed(23)
n89 = np.random.randint(low=0,high=100,size=(8,9))
n89
#vSplit
np.hsplit(n89,3)

[array([[83, 40, 73],
        [25, 51,  6],
        [69, 64, 12],
        [57, 19, 33],
        [43, 15, 86],
        [96, 56, 13],
        [ 0, 21,  6],
        [83, 80, 70]]),
 array([[54, 31, 76],
        [45, 12, 49],
        [21, 48, 41],
        [59, 39, 15],
        [83, 58, 25],
        [60, 22, 38],
        [32, 98, 32],
        [66, 82, 85]]),
 array([[91, 39, 90],
        [66, 75, 85],
        [79, 90, 62],
        [36, 65,  1],
        [66, 74, 35],
        [31, 94, 78],
        [14, 31, 78],
        [55, 27, 62]])]

# Random Values

In [234]:
n = np.random.rand(150,150) # Normal distribution framework
print(n.max())
print(n.min())
print(n.mean())

0.9999706283055746
0.00010181042896850734
0.5006533897252156

In [245]:
import matplotlib.pyplot as plt
n = np.random.rand(50,150) # Normal distribution framework
print(n.max())
print(n.min())
print(n.mean())
#plt.scatter(n,n.T)
#plt.show()
print(n.std())
np.median(n)

0.9998488184780492
4.963689496517709e-05
0.5049916494195122
0.28702415299979694

0.5062877413107586

In [254]:
n34=np.arange(12).reshape(3,4)
print(n34.sum())
print(n34.max())
print(n34.max(axis=0))
print(n34.max(axis=1))
print(n34.mean(axis=0))
print(n34.mean(axis=1))

66
11
[ 8  9 10 11]
[ 3  7 11]
[4. 5. 6. 7.]
[1.5 5.5 9.5]

In [262]:
np.linspace(3,5,9)

array([3.  , 3.25, 3.5 , 3.75, 4.  , 4.25, 4.5 , 4.75, 5.  ])

In [264]:
np.linspace(0,40,9, retstep=True)

(array([ 0.,  5., 10., 15., 20., 25., 30., 35., 40.]), 5.0)

In [271]:
#Matrix multiplication @ symbol 
#np.transpose
n34

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

# Iterations looping on num py arrays

In [268]:
for i in n34:
    print(i)

[0 1 2 3]
[4 5 6 7]
[ 8  9 10 11]

In [273]:
for value in np.nditer(n34,order='C'):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11

In [277]:
# C order default 
for value in np.nditer(n34,order='F'):
    print(value*70/100)

0.0
2.8
5.6
0.7
3.5
6.3
1.4
4.2
7.0
2.1
4.9
7.7

In [284]:
# C order default 
for index, value in np.ndenumerate(n34):
    print(index,value*2/100)

(0, 0) 0.0
(0, 1) 0.02
(0, 2) 0.04
(0, 3) 0.06
(1, 0) 0.08
(1, 1) 0.1
(1, 2) 0.12
(1, 3) 0.14
(2, 0) 0.16
(2, 1) 0.18
(2, 2) 0.2
(2, 3) 0.22

In [288]:
n34

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [291]:
n34
a0,a1 = np.where(n34>5)
print(list(zip(a0,a1)))

[(1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [293]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])